nodered_lab/1061_final.json
[{"id":"f0ab6dd0.2991c","type":"subflow","name":"cake","info":"","in":[{"x":490.9999752044678,"y":197.9999885559082,"wires":[{"id":"1f5919d7.df5286"}]}],"out":[{"x":843.9999551773071,"y":200.9999885559082,"wires":[{"id":"1f5919d7.df5286","port":0}]}]},{"id":"1f5919d7.df5286","type":"function","z":"f0ab6dd0.2991c","name":"cake","func":"\nvar cake = global.get('cake') || 0;\ncake += 1;\nglobal.set('cake',cake);\nmsg.payload = cake;\nreturn msg;","outputs":1,"noerr":0,"x":669.9999389648438,"y":195.99998474121094,"wires":[[]]},{"id":"ce737f18.76884","type":"subflow","name":"cappcuinno","info":"","in":[{"x":419.9999771118164,"y":168.9999885559082,"wires":[{"id":"fd6caa50.224758"}]}],"out":[{"x":728.9999561309814,"y":158.9999876022339,"wires":[{"id":"fd6caa50.224758","port":0}]}]},{"id":"fd6caa50.224758","type":"function","z":"ce737f18.76884","name":"Cappcuinno","func":"\nvar cap = global.get('cap') || 0;\ncap += 1;\nglobal.set('cap',cap);\nmsg.payload = cap;\nreturn msg;","outputs":1,"noerr":0,"x":576,"y":165.99998474121094,"wires":[[]]},{"id":"88313ce3.f7d14","type":"subflow","name":"coffee","info":"","in":[{"x":514.0000057220459,"y":240.9999885559082,"wires":[{"id":"decbfa0.e956e08"}]}],"out":[{"x":870.9999561309814,"y":236.9999876022339,"wires":[{"id":"decbfa0.e956e08","port":0}]}]},{"id":"decbfa0.e956e08","type":"function","z":"88313ce3.f7d14","name":"coffee","func":"\nvar coffee = global.get('coffee') || 0;\ncoffee += 1;\nglobal.set('coffee',coffee);\nmsg.payload = coffee;\nreturn msg;\n","outputs":1,"noerr":0,"x":680.9999389648438,"y":242.99998474121094,"wires":[[]]},{"id":"98d5e514.7413c8","type":"subflow","name":"clear_feed","info":"","in":[{"x":426.99997425079346,"y":199.9999885559082,"wires":[{"id":"8c652500.ae2028"}]}],"out":[{"x":742.9999561309814,"y":200.9999885559082,"wires":[{"id":"8c652500.ae2028","port":0}]}]},{"id":"8c652500.ae2028","type":"function","z":"98d5e514.7413c8","name":"feed","func":"global.set('coffee',0);\nglobal.set('cap',0);\nglobal.set('cake',0);\n\nmsg = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":600.9999389648438,"y":199.99998474121094,"wires":[[]]},{"id":"7df637fe.0b2d58","type":"ui_button","z":"48ef50db.93ea","name":"","group":"733472d7.36983c","order":0,"width":"4","height":"2","passthru":false,"label":"黑咖啡","color":"","bgcolor":"","icon":"","payload":"coffee=1|","payloadType":"str","topic":"","x":190,"y":60,"wires":[["302b4f7e.fed49"]]},{"id":"7cd314e7.2636bc","type":"ui_button","z":"48ef50db.93ea","name":"","group":"733472d7.36983c","order":0,"width":"4","height":"2","passthru":false,"label":"卡布奇諾","color":"","bgcolor":"","icon":"","payload":"cap=1|","payloadType":"str","topic":"","x":189.99999618530273,"y":127,"wires":[["370e2add.b1bfb6"]]},{"id":"91abf6e6.7d0658","type":"ui_button","z":"48ef50db.93ea","name":"","group":"733472d7.36983c","order":0,"width":"4","height":"2","passthru":false,"label":"蛋糕","color":"","bgcolor":"","icon":"","payload":"cake=1|","payloadType":"str","topic":"","x":192.99999618530273,"y":187.00002002716064,"wires":[["66567839.f92378"]]},{"id":"93021104.a99b3","type":"ui_button","z":"48ef50db.93ea","name":"","group":"5087f8e2.d27e08","order":0,"width":"3","height":"2","passthru":false,"label":"清除","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":181.99999618530273,"y":273.000057220459,"wires":[["5b7478ca.426988","693bd71c.133378"]]},{"id":"3fdbe577.411a4a","type":"ui_button","z":"48ef50db.93ea","name":"","group":"5087f8e2.d27e08","order":0,"width":"3","height":"2","passthru":false,"label":"訂單","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":197.0000114440918,"y":372.00000190734863,"wires":[["44df2a05.4c0ad4"]]},{"id":"aba3fffe.5c3fe","type":"ui_text","z":"48ef50db.93ea","group":"682a57d.2adb6a8","order":0,"width":"4","height":"2","name":"black_coffee","label":"","format":"{{msg.payload}}","layout":"row-left","x":792.9999961853027,"y":59.99999141693115,"wires":[]},{"id":"6b476000.29132","type":"ui_text","z":"48ef50db.93ea","group":"682a57d.2adb6a8","order":0,"width":"4","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":780.9999732971191,"y":147.9999885559082,"wires":[]},{"id":"bb6b4fed.ddf96","type":"ui_text","z":"48ef50db.93ea","group":"682a57d.2adb6a8","order":0,"width":"4","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":800.9999732971191,"y":207.9999885559082,"wires":[]},{"id":"5b7478ca.426988","type":"change","z":"48ef50db.93ea","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560.0000343322754,"y":240.00002193450928,"wires":[["aba3fffe.5c3fe","6b476000.29132","bb6b4fed.ddf96"]]},{"id":"9e0c91ed.068a6","type":"file","z":"48ef50db.93ea","name":"","filename":"order.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":624.0002403259277,"y":483.0000114440918,"wires":[[]]},{"id":"44df2a05.4c0ad4","type":"function","z":"48ef50db.93ea","name":"get order","func":"var coffee = global.get('coffee');\nvar cap = global.get('cap');\nvar cake = global.get('cake');\nvar amount = coffee*45+cap*55+cake*75;\nvar newmsg = {payload:{coffee:coffee,\n                  cap: cap,\n                 cake: cake,\n               amount: amount}\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":366.00008392333984,"y":391.0000023841858,"wires":[["9e0c91ed.068a6","4eab410c.0438","655c4809.4ae678"]]},{"id":"1c91f32b.7256ed","type":"http in","z":"48ef50db.93ea","name":"","url":"/order","method":"get","upload":false,"swaggerDoc":"","x":250.99997329711914,"y":527.9999885559082,"wires":[["f06fa560.392608"]]},{"id":"67698b20.7b8a44","type":"http response","z":"48ef50db.93ea","name":"","statusCode":"","headers":{},"x":720.9999732971191,"y":607.9999885559082,"wires":[]},{"id":"72bcfad.106a304","type":"template","z":"48ef50db.93ea","name":"css","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":520.9999732971191,"y":607.9999885559082,"wires":[["91825ae2.8b3cf8"]]},{"id":"f06fa560.392608","type":"file in","z":"48ef50db.93ea","name":"","filename":"order.txt","format":"utf8","chunk":false,"sendError":false,"x":361.9994659423828,"y":615.5996007919312,"wires":[["52d734a0.a1308c"]]},{"id":"91825ae2.8b3cf8","type":"template","z":"48ef50db.93ea","name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <style>\n        {{{payload.style}}}\n    </style>\n</head>\n\n<table>\n  <tr>\n    <th>Index</th> \n    <th>咖啡</th>\n    <th>卡布奇諾</th> \n    <th>蛋糕</th>\n  </tr>\n  {{#payload}}\n  <tr>\n    <td>{{index}}</td>\n    <td>{{coffee}}</td>\n    <td>{{cap}}</td> \n    <td>{{cake}}</td> \n  </tr>\n  {{/payload}}\n</table>","x":620.9999732971191,"y":527.9999885559082,"wires":[["67698b20.7b8a44"]]},{"id":"52d734a0.a1308c","type":"function","z":"48ef50db.93ea","name":"","func":"var data = msg.payload;\nvar res1 = data.toString().replace(/|\\n$/gi,\"\\n\").split('\\n').length;\nvar obj = [];\nfor(var i = 0;i<res1;i++)\n{\n  var nn = data.toString().replace(/|\\n$/gi,\"\\n\").split('\\n').slice(i+1,i+2);\n  if(nn.toString().length <=1) continue;\n  var v1 = JSON.parse(nn.toString().replace(/|$/gi,\"\"));\n  var newone = {index:i+1,coffee:v1.coffee,cap:v1.cap,cake:v1.cake};\n  obj.push(newone);\n}\n\nvar newMsg = { payload: obj,req: msg.req,res:msg.res };\nreturn newMsg;","outputs":1,"noerr":0,"x":440.99997329711914,"y":527.9999885559082,"wires":[["72bcfad.106a304"]]},{"id":"f0340e97.fc5d1","type":"template","z":"48ef50db.93ea","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":517.0000343322754,"y":673.0000019073486,"wires":[["dd6dffa9.6b858","88d5178d.ddc468"]]},{"id":"dd6dffa9.6b858","type":"debug","z":"48ef50db.93ea","name":"","active":false,"console":"false","complete":"false","x":689.9999885559082,"y":674.0000019073486,"wires":[]},{"id":"19620b9c.b6e034","type":"ui_button","z":"48ef50db.93ea","name":"","group":"5087f8e2.d27e08","order":0,"width":"3","height":"2","passthru":false,"label":"查詢","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":185.9999885559082,"y":677.000002861023,"wires":[["f67d1d88.9e466"]]},{"id":"f67d1d88.9e466","type":"file in","z":"48ef50db.93ea","name":"","filename":"order.txt","format":"utf8","chunk":false,"sendError":false,"x":351.9999809265137,"y":679.0000085830688,"wires":[["f0340e97.fc5d1"]]},{"id":"693bd71c.133378","type":"subflow:98d5e514.7413c8","z":"48ef50db.93ea","name":"","x":402.3000907897949,"y":287.0666980743408,"wires":[["eadfbee3.57c25"]]},{"id":"302b4f7e.fed49","type":"subflow:88313ce3.f7d14","z":"48ef50db.93ea","name":"","x":369.30005264282227,"y":57.06667518615723,"wires":[["aba3fffe.5c3fe"]]},{"id":"370e2add.b1bfb6","type":"subflow:ce737f18.76884","z":"48ef50db.93ea","x":377.3000068664551,"y":127.06666946411133,"wires":[["6b476000.29132"]]},{"id":"66567839.f92378","type":"subflow:f0ab6dd0.2991c","z":"48ef50db.93ea","x":356.3000068664551,"y":188.06666946411133,"wires":[["bb6b4fed.ddf96"]]},{"id":"d72a60c8.82a07","type":"debug","z":"48ef50db.93ea","name":"","active":true,"console":"false","complete":"true","x":784.3002014160156,"y":349.20000553131104,"wires":[]},{"id":"4eab410c.0438","type":"template","z":"48ef50db.93ea","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":571.9999237060547,"y":354.99997425079346,"wires":[["d72a60c8.82a07","1bfcd944.e1c897"]]},{"id":"88d5178d.ddc468","type":"ui_template","z":"48ef50db.93ea","group":"bd0bf810.3b3a78","name":"json file list","order":0,"width":"12","height":"6","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <th>項次</th> \n    <th>餐點</th>\n    <th>數量</th>\n    <th>金額</th>\n  </tr>\n  <tr>\n    {{#payload}}\n    <td>{{$index}}</td>\n    <td>咖啡: {{coffee }}</td>\n    <td>卡布：{{cap }}</td>\n    <td>蛋糕：{{cake}}</td>\n    <td>總計：{{amount}} 元</td>\n    {{/payload}}\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":688.9999122619629,"y":726.9999351501465,"wires":[[]]},{"id":"eadfbee3.57c25","type":"ui_text","z":"48ef50db.93ea","group":"bd0bf810.3b3a78","order":0,"width":"6","height":"2","name":"","label":"check","format":"{{msg.payload}}","layout":"row-left","x":789.3000068664551,"y":408.4666938781738,"wires":[]},{"id":"655c4809.4ae678","type":"function","z":"48ef50db.93ea","name":"text string","func":"var coffee = global.get('coffee');\nvar cap = global.get('cap');\nvar cake = global.get('cake');\nvar amount = msg.payload.amount;\nvar outmsg = \"[\"+coffee+\",\"+cap+\",\"+\n     cake+\",\"+amount+\"]\";\nmsg.payload = {payload: outmsg};\nreturn msg;","outputs":1,"noerr":0,"x":613.3000068664551,"y":413.0000190734863,"wires":[["eadfbee3.57c25"]]},{"id":"1bfcd944.e1c897","type":"ui_template","z":"48ef50db.93ea","group":"bd0bf810.3b3a78","name":"checkout","order":0,"width":"12","height":"6","format":"<head>\n<style>\n    {{msg.style}}\n</style>\n</head>\n\n<table>\n  <tr>\n    <th>項次</th> \n    <th>餐點</th>\n    <th>數量</th>\n    <th>金額</th>\n  </tr>\n  <tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{$index}}</td>\n    <td>咖啡: {{obj.coffee }}</td>\n    <td>卡布：{{obj.cap }}</td>\n    <td>蛋糕：{{obj.cake}}</td>\n    <td>總計：{{obj.amount}} 元</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":794.9999122619629,"y":286.9999656677246,"wires":[[]]},{"id":"733472d7.36983c","type":"ui_group","z":"","name":"items","tab":"f5d13081.6d0f6","order":1,"disp":true,"width":"4"},{"id":"5087f8e2.d27e08","type":"ui_group","z":"","name":"command","tab":"f5d13081.6d0f6","order":3,"disp":true,"width":"3"},{"id":"682a57d.2adb6a8","type":"ui_group","z":"","name":"order","tab":"f5d13081.6d0f6","order":2,"disp":true,"width":"4"},{"id":"bd0bf810.3b3a78","type":"ui_group","z":"","name":"report","tab":"f5d13081.6d0f6","order":4,"disp":true,"width":"12"},{"id":"f5d13081.6d0f6","type":"ui_tab","z":"","name":"final","icon":"dashboard","order":3}]