nodered_lab/csv_lab.json
[{"id":"3c3c27b4.3f2408","type":"inject","z":"2ee7adca.c3e772","name":"array of arrays","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":60,"wires":[["9dc060d7.899e6"]]},{"id":"9dc060d7.899e6","type":"function","z":"2ee7adca.c3e772","name":"","func":"\nm1=[1,2,3];\nm2=[4,5,6];\nm3=[7,8,9];\n\nm = [m1,m2,m3];\nmsg.payload = m;\n\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":60,"wires":[["cfeba8a1.c09b98","6d32328d.c9681c"]]},{"id":"cfeba8a1.c09b98","type":"csv","z":"2ee7adca.c3e772","name":"CSV with Columns in blank","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","x":548,"y":60,"wires":[["665e0aa9.e68804"]]},{"id":"6d32328d.c9681c","type":"debug","z":"2ee7adca.c3e772","name":"Input","active":true,"console":"false","complete":"payload","x":527,"y":190,"wires":[]},{"id":"6d9ca9a7.326658","type":"function","z":"2ee7adca.c3e772","name":"","func":"\nm1=[];\nm1[0]=\"A,1\";\nm1[1]=\"B 1\";\nm1[2]=\"3 1\";\nm1[3]=\"last,1\";\nm1[4]=\"things in \\\"quotes\\\" are here\"\n\nmsg.payload = m1;\n\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":153,"wires":[["cfeba8a1.c09b98","6d32328d.c9681c"]]},{"id":"665e0aa9.e68804","type":"debug","z":"2ee7adca.c3e772","name":"Output","active":true,"console":"true","complete":"payload","x":784,"y":60,"wires":[]},{"id":"bef90951.763988","type":"function","z":"2ee7adca.c3e772","name":"","func":"\nm1={A:1,B:2,C:3};\nm2={A:4,B:5,C:6};\nm3={A:7,B:8,C:9};\n\nm = [m1,m2,m3];\nmsg.payload = m;\n\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":275,"wires":[["6d32328d.c9681c","808259d2.beb2a8"]]},{"id":"74ab05c2.2f790c","type":"function","z":"2ee7adca.c3e772","name":"","func":"\nm1=[1,2,3];\n\nmsg.payload = m1;\n\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":109,"wires":[["cfeba8a1.c09b98","6d32328d.c9681c"]]},{"id":"9b64f851.9b8478","type":"function","z":"2ee7adca.c3e772","name":"","func":"\nm1={A:1,B:2,C:3};\n\nmsg.payload = m1;\n\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":331,"wires":[["6d32328d.c9681c","808259d2.beb2a8"]]},{"id":"b9a188e7.459b48","type":"inject","z":"2ee7adca.c3e772","name":"more complex array","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":119,"y":153,"wires":[["6d9ca9a7.326658"]]},{"id":"72a9d9ab.209438","type":"inject","z":"2ee7adca.c3e772","name":"array of objects","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":107,"y":276,"wires":[["bef90951.763988"]]},{"id":"7dfc376a.e0d628","type":"inject","z":"2ee7adca.c3e772","name":"simple array","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":102,"y":108,"wires":[["74ab05c2.2f790c"]]},{"id":"175275ea.db224a","type":"inject","z":"2ee7adca.c3e772","name":"simple object","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":104,"y":330,"wires":[["9b64f851.9b8478"]]},{"id":"808259d2.beb2a8","type":"csv","z":"2ee7adca.c3e772","name":"CSV with columns set","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"A,B,C","x":510,"y":328,"wires":[["16644da.54a5bb2"]]},{"id":"16644da.54a5bb2","type":"debug","z":"2ee7adca.c3e772","name":"","active":true,"console":"false","complete":"false","x":771,"y":327,"wires":[]}]