nodered_lab/csv_no_header.json
[{"id":"8a87ee3c.e2f24","type":"inject","z":"723dcb71.3204b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["151bac74.8bf9f4"]]},{"id":"151bac74.8bf9f4","type":"function","z":"723dcb71.3204b4","name":"generate random number","func":"var max = 22;\nvar min = 20;\nvar maxp=80;\nvar minp=0;\nvar newValue = Math.random() * (max - min) + min;\nvar hValue = Math.random() * (100 - 0) + 0;\nvar pm25 = Math.random() * (maxp - minp) + minp;\n\nvar t = new Date();\n\nvar dt = t.getFullYear()+\"-\"+(t.getMonth()+1)+\"-\"+t.getDate()+\"-\"+t.getHours()+\":\"+\n        t.getMinutes()+\":\"+t.getSeconds()\n\nvar newmsg = JSON.stringify({\n      Timestamp: dt,\n      Temp: newValue.toFixed(2),\n      Humi: hValue.toFixed(2),\n      PM25: pm25.toFixed(2)\n});\n\nvar nmsg = JSON.parse(newmsg);\n\nmsg.payload = nmsg.Timestamp+\",\"+nmsg.Temp+\",\"+\n    \n     nmsg.Humi+\",\"+nmsg.PM25;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["db66c527.369508","5d6eb7c.a32b148"]]},{"id":"db66c527.369508","type":"debug","z":"723dcb71.3204b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":420,"wires":[]},{"id":"5d6eb7c.a32b148","type":"file","z":"723dcb71.3204b4","name":"sensor","filename":"/temp/sensor.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":690,"y":280,"wires":[["db66c527.369508"]]}]