nodered_lab/csv_header.json
[{"id":"cd0f863b.6dcd28","type":"subflow","name":"Subflow 2","in":[{"x":112,"y":131,"wires":[{"id":"3472f1e7.5e680e"}]}],"out":[{"x":111,"y":199,"wires":[]}]},{"id":"35fe41af.601fce","type":"http request","z":"cd0f863b.6dcd28","name":"API request","method":"GET","ret":"txt","url":"https://sabesp-api.herokuapp.com/{{datastring}}","x":370,"y":186,"wires":[["ba931da1.d06b9"]]},{"id":"ba931da1.d06b9","type":"function","z":"cd0f863b.6dcd28","name":"JSON parse","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":237,"wires":[["183ec43d.b8d5dc"]]},{"id":"8ae49e01.59bae","type":"change","z":"cd0f863b.6dcd28","name":"Header off","rules":[{"t":"set","p":"headers","pt":"msg","to":"null","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":681,"y":479,"wires":[["a07ab899.8302a8"]]},{"id":"ccf927f0.398988","type":"function","z":"cd0f863b.6dcd28","name":"Parse vol e chuva","func":"v1 =[]; // v1 matrix\nfor (i=0;i<6;i++) {\n v1[2*i] = msg.payload[i].data[0].value;\n v1[2*i+1] = msg.payload[i].data[1].value;\n}\nmsg.payload = v1;\nconsole.log(v1);\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":349,"wires":[["469f4379.47fd6c","121c76ff.24c049"]]},{"id":"3472f1e7.5e680e","type":"function","z":"cd0f863b.6dcd28","name":"Monta string","func":"//console.log(msg);\na1 = (\"0\"+(msg.data1.getMonth()+1)).slice(-2);\na2 = (\"0\"+msg.data1.getDate()).slice(-2);\nmsg.datastring=msg.data1.getFullYear()+\"-\"+a1+\"-\"+a2;\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":131,"wires":[["35fe41af.601fce"]]},{"id":"a07ab899.8302a8","type":"function","z":"cd0f863b.6dcd28","name":"Next or End","func":"if ( (msg.i += 1) < msg.max ) return msg;","outputs":1,"noerr":0,"x":454,"y":558,"wires":[["9273aeb4.fd447"]]},{"id":"9273aeb4.fd447","type":"function","z":"cd0f863b.6dcd28","name":"Date + 1","func":"msg.data1.setDate(msg.data1.getDate()+1);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":73,"wires":[["3472f1e7.5e680e"]]},{"id":"183ec43d.b8d5dc","type":"function","z":"cd0f863b.6dcd28","name":"Reservatorios","func":"// Colocando o nome dos reservatorio uma vez\nif( msg.i === 0 ) {\n v1 =[]; // v1 matrix\n for (i=0;i<6;i++) { v1[i] = msg.payload[i].name; }\n console.log(v1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":484,"y":292,"wires":[["ccf927f0.398988"]]},{"id":"469f4379.47fd6c","type":"csv","z":"cd0f863b.6dcd28","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"what","x":666,"y":408,"wires":[["8ae49e01.59bae","d402afa3.d58eb"]]},{"id":"d402afa3.d58eb","type":"file","z":"cd0f863b.6dcd28","name":"","filename":"c:\\mama99.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":871,"y":371,"wires":[]},{"id":"121c76ff.24c049","type":"debug","z":"cd0f863b.6dcd28","name":"","active":true,"console":"false","complete":"payload","x":801,"y":306,"wires":[]},{"id":"79e3f752.ff7eb8","type":"inject","z":"1c4efda9.d7ed92","name":"Kick-off","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":210,"y":60,"wires":[["e08562f4.a7633"]]},{"id":"e08562f4.a7633","type":"function","z":"1c4efda9.d7ed92","name":"Dados","func":"msg.max=5;\nmsg.i=0;\nmsg.datastring=\"02/01/2015\";\nmsg.data1 = new Date(msg.datastring);\nreturn msg;","outputs":1,"noerr":0,"x":263,"y":122,"wires":[["9ef8c79a.6a5e58"]]},{"id":"9ef8c79a.6a5e58","type":"subflow:cd0f863b.6dcd28","z":"1c4efda9.d7ed92","name":"Loop","x":326.5,"y":181.5,"wires":[[]]}]