nodered_lab/dashboard_all.json
[{"id":"1c944cf7.9b4133","type":"inject","z":"64fc96a5.36be38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":140,"wires":[["e5904c37.b82f6"]]},{"id":"e5904c37.b82f6","type":"function","z":"64fc96a5.36be38","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["79b69e17.60d61","80a23256.33193","14e9fde9.40b5d2","bee1703.fad689","c3316f85.8b894"]]},{"id":"79b69e17.60d61","type":"debug","z":"64fc96a5.36be38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":160,"wires":[]},{"id":"80a23256.33193","type":"ui_chart","z":"64fc96a5.36be38","name":"","group":"cc8ad99d.c6c4b8","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":280,"wires":[[],[]]},{"id":"14e9fde9.40b5d2","type":"ui_slider","z":"64fc96a5.36be38","name":"","label":"slider","group":"a85c9d4c.146d4","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":680,"y":360,"wires":[[]]},{"id":"bee1703.fad689","type":"ui_text","z":"64fc96a5.36be38","group":"a85c9d4c.146d4","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":440,"wires":[]},{"id":"c3316f85.8b894","type":"ui_gauge","z":"64fc96a5.36be38","name":"","group":"cc8ad99d.c6c4b8","order":7,"width":0,"height":0,"gtype":"gage","title":"Units","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":220,"wires":[]},{"id":"cc8ad99d.c6c4b8","type":"ui_group","z":"","name":"My firsh dashboard","tab":"52b5e4db.8c03bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a85c9d4c.146d4","type":"ui_group","z":"","name":"new_group","tab":"52b5e4db.8c03bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"52b5e4db.8c03bc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]