nodered_lab/dashboard_all.json
[{"id":"d671f890.6f33e8","type":"inject","z":"55cd0638.cdf768","name":"","topic":"Hello world!","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":270,"y":60,"wires":[["6c11e401.ba032c"]]},{"id":"baf32072.e44b4","type":"debug","z":"55cd0638.cdf768","name":"","active":true,"console":"false","complete":"true","x":890,"y":200,"wires":[]},{"id":"6c11e401.ba032c","type":"function","z":"55cd0638.cdf768","name":"temperature data","func":"var max = 22;\nvar min = 20;\nvar newValue = Math.random() * (max - min) + min;\nvar hValue = Math.random() * (100 - 0) + 0;\nvar myDate = new Date();\nvar t = myDate.getFullYear()+\"-\"+(myDate.getMonth()+1)+\"-\"+\n  myDate.getDate()+\"-\"+myDate.getHours() + \":\" + \n  myDate.getMinutes() + \":\" + myDate.getSeconds();\nmsg.payload ={\nweather: {\n    timestamp: t,\n    Temp: newValue.toFixed(2),\n    Humi: hValue.toFixed(2)\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["2cb47ca9.2940e4","8ba9c418.8746c8","e9a219e7.120b48"]]},{"id":"f9d8805e.7a86","type":"file","z":"55cd0638.cdf768","name":"","filename":"/tmp/fake.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":830,"y":300,"wires":[["baf32072.e44b4"]]},{"id":"2cb47ca9.2940e4","type":"ui_template","z":"55cd0638.cdf768","group":"91cbf398.897ad","name":"weatherStation","order":0,"width":"12","height":"4","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>時間</span>\n  <span flex>溫度</span>\n  <span flex>濕度</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" >\n  <span flex style=\"color: green\">{{msg.payload.weather.timestamp}}</span>\n  <span flex style=\"color: red\">{{msg.payload.weather.Temp}}</span>\n  <span flex style=\"color: black\">{{msg.payload.weather.Humi}}%</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":120,"wires":[[]]},{"id":"8ba9c418.8746c8","type":"function","z":"55cd0638.cdf768","name":"conver json to string","func":"var myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\nmsg.payload = user.timestamp+\",\"+user.Temp+\",\"+user.Humi;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["f9d8805e.7a86"]]},{"id":"e9a219e7.120b48","type":"function","z":"55cd0638.cdf768","name":"weather","func":"\nvar myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\nvar msg = {};\nvar msg1 = {};\n\nmsg.payload = user.Temp;\nmsg.topic = \"Temperature\";\n\nmsg1.payload = user.Humi;\nmsg1.topic = \"Humidilty\";\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":300,"y":320,"wires":[["62e23d4d.386104"],["508adf95.ba937"]]},{"id":"62e23d4d.386104","type":"ui_chart","z":"55cd0638.cdf768","name":"","group":"91cbf398.897ad","order":3,"width":0,"height":0,"label":"溫度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"22","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":320,"wires":[[],[]]},{"id":"508adf95.ba937","type":"ui_gauge","z":"55cd0638.cdf768","name":"","group":"91cbf398.897ad","order":1,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":400,"wires":[]},{"id":"91cbf398.897ad","type":"ui_group","z":"","name":"Weather","tab":"81e6de55.fc9d2","disp":true,"width":"12","collapse":false},{"id":"81e6de55.fc9d2","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":2}]