nodered_lab/dashboard_slider.json
[{"id":"501b3668.84c4f8","type":"ui_slider","z":"f8dcb55b.681b68","name":"","label":"slider","group":"7799c439.740d0c","order":0,"width":"6","height":"3","passthru":true,"topic":"","min":0,"max":"255","step":1,"x":157.16668701171875,"y":160,"wires":[["173e39a5.f28a06"]]},{"id":"d45e6613.55ce68","type":"debug","z":"f8dcb55b.681b68","name":"","active":true,"console":"false","complete":"false","x":510,"y":140,"wires":[]},{"id":"b38897fd.1845b8","type":"ui_text","z":"f8dcb55b.681b68","group":"7799c439.740d0c","order":0,"width":"4","height":"2","name":"","label":"Val:","format":"{{msg.payload}}","layout":"row-left","x":490,"y":60,"wires":[]},{"id":"173e39a5.f28a06","type":"function","z":"f8dcb55b.681b68","name":"outv","func":"function toFixed(value, precision) {\n    var power = Math.pow(10, precision || 0);\n    return String(Math.round(value * power) / power);\n}\n\nvar ref = 3.3;\nvar x = msg.payload / 255.0 * ref;\nvar y = toFixed(x,4);\nvar newmsg =  {\n        payload: y\n    };\nreturn newmsg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["b38897fd.1845b8","d45e6613.55ce68"]]},{"id":"7799c439.740d0c","type":"ui_group","z":"","name":"cmd","tab":"bb1d88a9.3da888","order":1,"disp":true,"width":"8"},{"id":"bb1d88a9.3da888","type":"ui_tab","z":"","name":"Vlotage","icon":"dashboard","order":3}]