nodered_lab/dashboard_template.json
[{"id":"7e9bbb56.e41424","type":"inject","z":"43601fb2.ec713","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":204,"y":285,"wires":[["dcead724.59b678"]]},{"id":"dcead724.59b678","type":"function","z":"43601fb2.ec713","name":"Generate data","func":"min = Math.round(Math.random()*1000);\nmax = Math.round((Math.random()*10000)+1000);\n\nmsg.payload = {\n  factory: {\n    machine00: {\n      min: min,\n      max: max,\n      failProb: 20,\n      name: \"GE 5200\"\n    },\n    machine01: {\n      min: min*5,\n      max: max*2,\n      failProb: 10,\n      name: \"BB SQ100\"\n    }\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":351,"wires":[["537869f5.64b918"]]},{"id":"537869f5.64b918","type":"ui_template","z":"43601fb2.ec713","group":"bb9931a9.97479","name":"Machine data","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>RPM Min</span>\n  <span flex>RPM Max</span>\n  <span flex>Failure Prob</span>\n  <span flex>Machine type</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"machine in msg.payload.factory\">\n  <span flex style=\"color: green\">{{machine.min}}</span>\n  <span flex style=\"color: red\">{{machine.max}}</span>\n  <span flex style=\"color: black\">{{machine.failProb}}%</span>\n  <span flex style=\"color: black\">{{machine.name}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":442,"y":276,"wires":[[]]},{"id":"bb9931a9.97479","type":"ui_group","z":"","name":"another widget","tab":"ebd7076c.f17968","order":2,"disp":true,"width":"6"},{"id":"ebd7076c.f17968","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2}]