nodered_lab/dashboard_graph_ui.json
[{"id":"edb2dbb3.68d5e8","type":"inject","z":"a29f718f.f4a85","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":224,"y":243,"wires":[["c4a5f71d.4c91d8"]]},{"id":"c4a5f71d.4c91d8","type":"function","z":"a29f718f.f4a85","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":300,"wires":[["49406594.4ae8dc","44f4fb8b.483e44","1b7e936.6da6e6d","4598f030.6f7cb","f7a78f4c.4378a"]]},{"id":"49406594.4ae8dc","type":"debug","z":"a29f718f.f4a85","name":"","active":true,"console":"false","complete":"false","x":431,"y":224,"wires":[]},{"id":"44f4fb8b.483e44","type":"ui_chart","z":"a29f718f.f4a85","name":"","group":"98349a13.eeed68","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":380,"wires":[[],[]]},{"id":"1b7e936.6da6e6d","type":"ui_gauge","z":"a29f718f.f4a85","name":"","group":"98349a13.eeed68","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":514,"y":441,"wires":[]},{"id":"4598f030.6f7cb","type":"ui_slider","z":"a29f718f.f4a85","name":"","label":"slider","group":"bb9931a9.97479","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":519,"y":494,"wires":[[]]},{"id":"f7a78f4c.4378a","type":"ui_text","z":"a29f718f.f4a85","group":"bb9931a9.97479","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-left","x":526,"y":545,"wires":[]},{"id":"98349a13.eeed68","type":"ui_group","z":"","name":"Machine data","tab":"ebd7076c.f17968","order":1,"disp":true,"width":"6"},{"id":"bb9931a9.97479","type":"ui_group","z":"","name":"another widget","tab":"ebd7076c.f17968","order":2,"disp":true,"width":"6"},{"id":"ebd7076c.f17968","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2}]