nodered_lab/db_op.json
[{"id":"c882e51a.ca6308","type":"sqlite","z":"faec8f03.87d44","mydb":"45638e18.40863","sqlquery":"msg.topic","sql":"","name":"station.db","x":240,"y":160,"wires":[["e17bc1cb.5232a","8348526d.14bb7"]]},{"id":"51ff57b8.e87648","type":"inject","z":"faec8f03.87d44","name":"","topic":"select count(*) from station;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["c882e51a.ca6308"]]},{"id":"8348526d.14bb7","type":"debug","z":"faec8f03.87d44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":140,"wires":[]},{"id":"e5415303.94659","type":"comment","z":"faec8f03.87d44","name":"check #of records in database","info":"","x":180,"y":60,"wires":[]},{"id":"64dee4b3.9bde3c","type":"comment","z":"faec8f03.87d44","name":"reference link","info":"http://noderedguide.com/tutorial-sqlite-and-node-red/","x":410,"y":60,"wires":[]},{"id":"bc3ac176.6e2a2","type":"inject","z":"faec8f03.87d44","name":"","topic":"select count(*) as cnt from station;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["c882e51a.ca6308"]]},{"id":"f2438b1c.ea6ab8","type":"comment","z":"faec8f03.87d44","name":"check how many records in db","info":"","x":360,"y":240,"wires":[]},{"id":"5b447323.7c247c","type":"inject","z":"faec8f03.87d44","name":"","topic":"SELECT * FROM STATION ORDER BY TIMESTAMP DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["390bd4d6.4fd83c"]]},{"id":"9322c96e.61a988","type":"ui_template","z":"faec8f03.87d44","group":"6ee2bd0d.98e454","name":"","order":0,"width":"16","height":"9","format":"<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Timestamp</th>\n    <th>ID</th> \n    <th>Temperature</th>\n\t<th>Humidity</th>\n\t<th>Wind Direction</th>\n\t<th>Wind Speed</th>\n\t<th>Light</th>\n\t<th>Rain</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td>{{x.timestamp}}</td>\n    <td>{{x.id}}</td> \n    <td>{{msg.payload[$index].temp}}</td>\n\t<td>{{msg.payload[$index].humidity}}</td>\n\t<td>{{msg.payload[$index].wdir}}</td>\n\t<td>{{msg.payload[$index].wspeed}}</td>\n\t<td>{{msg.payload[$index].light}}</td>\n\t<td>{{msg.payload[$index].rain}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":300,"wires":[[]]},{"id":"390bd4d6.4fd83c","type":"sqlite","z":"faec8f03.87d44","mydb":"45638e18.40863","sqlquery":"msg.topic","sql":"","name":"station","x":340,"y":300,"wires":[["9322c96e.61a988","aba42734.7d0598"]]},{"id":"aba42734.7d0598","type":"debug","z":"faec8f03.87d44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":360,"wires":[]},{"id":"e17bc1cb.5232a","type":"ui_text","z":"faec8f03.87d44","group":"6ee2bd0d.98e454","order":0,"width":0,"height":0,"name":"","label":"db:","format":"{{msg.payload[0].cnt}}筆","layout":"row-center","x":430,"y":180,"wires":[]},{"id":"fa85d569.db0368","type":"comment","z":"faec8f03.87d44","name":"in Javascript","info":"var value = msg.payload[0].cnt;\nmsg = {payload:value};\nreturn msg;","x":570,"y":180,"wires":[]},{"id":"45638e18.40863","type":"sqlitedb","z":"","db":"/tmp/station.db","mode":"RWC"},{"id":"6ee2bd0d.98e454","type":"ui_group","z":"","name":"Log Data","tab":"7f02591f.ff2338","order":1,"disp":true,"width":"16","collapse":false},{"id":"7f02591f.ff2338","type":"ui_tab","z":"","name":"WSN Data","icon":"dashboard","order":2}]