nodered_lab/dht_thingspeak.json.txt
[{"id":"3b573670.f267aa","type":"debug","z":"affafa8a.eafdf8","name":"","active":true,"console":"true","complete":"payload","x":880,"y":200,"wires":[]},{"id":"46d14c62.1c36c4","type":"inject","z":"affafa8a.eafdf8","name":"","topic":"/esp8266/lass","payload":"|T=28|H=70|","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":311.21163177490234,"y":220.71350574493408,"wires":[["6c0974b3.00a7bc","5e18df01.5832a"]]},{"id":"88c8bdf1.cdeaf","type":"thingspeak42","z":"affafa8a.eafdf8","name":"IOTlab","delay":"15","topic1":"/esp8266/T","topic2":"/esp8266/H","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":893.9024200439453,"y":376.1199264526367,"wires":[]},{"id":"6c0974b3.00a7bc","type":"function","z":"affafa8a.eafdf8","name":"Temperature","func":"var MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};  //\nMsgA.payload = MsgA.Temp;\nMsgA.topic = \"/esp8266/T\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":595.3149108886719,"y":298.5099563598633,"wires":[["3b573670.f267aa","88c8bdf1.cdeaf","4c03253a.7ecd3c"]]},{"id":"5e18df01.5832a","type":"function","z":"affafa8a.eafdf8","name":"Humidity","func":"var MsgA =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};  //\nMsgA.payload = MsgA.Humi;\nMsgA.topic = \"/esp8266/H\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":582.6723937988281,"y":395.5624542236328,"wires":[["88c8bdf1.cdeaf","3b573670.f267aa","61d2c375.81044c"]]},{"id":"4c03253a.7ecd3c","type":"ui_gauge","z":"affafa8a.eafdf8","name":"溫度","group":"515e96cc.2f9978","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"度","format":"{{value}}","min":"15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":460,"wires":[]},{"id":"61d2c375.81044c","type":"ui_gauge","z":"affafa8a.eafdf8","name":"濕度","group":"515e96cc.2f9978","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":540,"wires":[]},{"id":"515e96cc.2f9978","type":"ui_group","z":"","name":"Default","tab":"e1a2f7d3.8623d8","disp":true,"width":"8","collapse":false},{"id":"e1a2f7d3.8623d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]