nodered_lab/fun_times.json
[{"id":"1ace70b1.42405f","type":"inject","z":"1143ccd9.d34de3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":220,"wires":[["2884ee0e.39e892"]]},{"id":"2884ee0e.39e892","type":"function","z":"1143ccd9.d34de3","name":"2~9 ","func":"msg.payload = [2,3,4,5,6,7,8,9];\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["23b9f031.e7faa"]]},{"id":"23b9f031.e7faa","type":"function","z":"1143ccd9.d34de3","name":"times 2~9","func":"var msgA=msg.payload;\nfor(var i=2; i< 10;i++)\n{\n  for(var j=2; j< 10;j++)\n  {\n    var n = (msgA[i] * j).toString();\n    msgA.push(n);\n  }\n}\nmsg.payload = msgA;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["635eeb3.0650814"]]},{"id":"635eeb3.0650814","type":"debug","z":"1143ccd9.d34de3","name":"list msg","active":true,"console":"false","complete":"true","x":340,"y":240,"wires":[]}]