nodered_lab/fun_csv_str.json
[{"id":"1f42e01e.416f","type":"inject","z":"d59b8ecd.57a91","name":"array of arrays","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":60,"wires":[["75b81713.ce1ff8"]]},{"id":"75b81713.ce1ff8","type":"function","z":"d59b8ecd.57a91","name":"","func":"\nm1=[1,2,3];\nm2=[4,5,6];\nm3=[7,8,9];\n\nm = [m1,m2,m3];\nmsg.payload = m;\n\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":88,"wires":[["b545c533.234d68","778f286c.10cba8"]]},{"id":"b545c533.234d68","type":"csv","z":"d59b8ecd.57a91","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"C,B,A","x":473,"y":164,"wires":[["aab4de0c.eaa01"]]},{"id":"778f286c.10cba8","type":"debug","z":"d59b8ecd.57a91","name":"Input","active":true,"console":"false","complete":"payload","x":518,"y":256,"wires":[]},{"id":"2e218d28.818562","type":"function","z":"d59b8ecd.57a91","name":"","func":"\nm1=[];\nm1[0]=\"A,1\";\nm1[1]=\"B 1\";\nm1[2]=\"3 1\";\nm1[3]=\"last,1\";\nm1[4]=\"things in \\\"quotes\\\" are here\"\n\nmsg.payload = m1;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":242,"wires":[["b545c533.234d68","778f286c.10cba8"]]},{"id":"aab4de0c.eaa01","type":"debug","z":"d59b8ecd.57a91","name":"Output","active":true,"console":"true","complete":"payload","x":619,"y":125,"wires":[]},{"id":"d02d7894.9da4f8","type":"function","z":"d59b8ecd.57a91","name":"","func":"\nm1={A:1,B:2,C:3};\nm2={A:4,B:5,C:6};\nm3={A:7,B:8,C:9};\n\nm = [m1,m2,m3];\nmsg.payload = m;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":136,"wires":[["b545c533.234d68","778f286c.10cba8"]]},{"id":"58a176d1.b53628","type":"function","z":"d59b8ecd.57a91","name":"","func":"\nm1=[1,2,3];\n\nmsg.payload = m1;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":188,"wires":[["b545c533.234d68","778f286c.10cba8"]]},{"id":"2610d5cd.9d596a","type":"function","z":"d59b8ecd.57a91","name":"","func":"\nm1={A:1,B:2,C:3};\n\nmsg.payload = m1;\n\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":298,"wires":[["b545c533.234d68","778f286c.10cba8"]]},{"id":"83c4ff23.87f9","type":"inject","z":"d59b8ecd.57a91","name":"more complex array","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":175,"y":210,"wires":[["2e218d28.818562"]]},{"id":"c21cdf32.6bcd1","type":"inject","z":"d59b8ecd.57a91","name":"array of objects","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":161,"y":108,"wires":[["d02d7894.9da4f8"]]},{"id":"b52fff1b.db175","type":"inject","z":"d59b8ecd.57a91","name":"simple array","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":159,"y":163,"wires":[["58a176d1.b53628"]]},{"id":"87a93b1e.4301b8","type":"inject","z":"d59b8ecd.57a91","name":"simple object","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":154,"y":262,"wires":[["2610d5cd.9d596a"]]}]