nodered_lab/gen_sqlite_db.json
[{"id":"9a7bd5d8.ce14f8","type":"sqlite","z":"7beba3fc.bb431c","mydb":"45638e18.40863","sqlquery":"msg.topic","sql":"","name":"/tmp/station.db","x":630,"y":260,"wires":[["ea982454.4e3a48"]]},{"id":"4cab204d.751fb","type":"inject","z":"7beba3fc.bb431c","name":"create database table","topic":"create table station (id varchar(8) ,timestamp datatime,temp decimal(4,2),humidity decimal(4,2),wdir numeric,wspeed numeric,light numeric,rain numeric);","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":220,"wires":[["9a7bd5d8.ce14f8"]]},{"id":"ea982454.4e3a48","type":"debug","z":"7beba3fc.bb431c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":280,"wires":[]},{"id":"49f9efd3.d03a8","type":"inject","z":"7beba3fc.bb431c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["d3cc216d.c281d"]]},{"id":"492a0955.a7f868","type":"function","z":"7beba3fc.bb431c","name":"insert new record","func":"var N_temp = Math.round(Math.random()*37);\nvar N_humi = Math.round(Math.random()*100);\nvar N_wdir = Math.round(Math.random()*360);\nvar N_wspeed = Math.round(Math.random()*200);\nvar N_light = Math.round(Math.random()*1024);\nvar N_rain = Math.round(Math.random()*800);\nvar id = \"S00010001\";\nvar nitem = \"INSERT INTO STATION (id,timestamp,temp,humidity,wdir,wspeed,light,rain)VALUES ( \" + \n            \"\\'\" + id + \"\\'\" + \",\" +\n            \"\\'\" + msg.payload + \"\\'\" + \",\" + \n\t\t\tN_temp + \", \" + \n\t\t    N_humi + \", \" +\n\t\t    N_wdir + \", \" +\n\t\t\tN_wspeed + \", \" +\n\t\t\tN_light + \", \" +\n\t\t\tN_rain + \")\";\nvar newMsg = {\n \"topic\": nitem\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["9a7bd5d8.ce14f8","2a25aac0.fe5756"]]},{"id":"2a25aac0.fe5756","type":"debug","z":"7beba3fc.bb431c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":440,"wires":[]},{"id":"d3cc216d.c281d","type":"function","z":"7beba3fc.bb431c","name":"cvt date","func":"var date = new Date(msg.payload);\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\nvar newmsg = {\n    payload: date\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["492a0955.a7f868"]]},{"id":"66388d8a.ea48a4","type":"inject","z":"7beba3fc.bb431c","name":"","topic":"drop table station;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":160,"wires":[["9a7bd5d8.ce14f8"]]},{"id":"45638e18.40863","type":"sqlitedb","z":"","db":"/tmp/sation.db","mode":"RWC"}]