nodered_lab/gen_random.json
[{"id":"1ca83173.9d0fcf","type":"inject","z":"6f89e1ca.a2b93","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":180,"wires":[["e2d39e01.fdd84"]]},{"id":"e2d39e01.fdd84","type":"function","z":"6f89e1ca.a2b93","name":"generate random number","func":"var max_val = 42;\nvar min_val = 8;\n\nrnd = Math.floor (Math.random()* \n      (max_val-min_val)+min_val);\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["3d922836.17a228"]]},{"id":"3d922836.17a228","type":"debug","z":"6f89e1ca.a2b93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":180,"wires":[]}]