nodered_lab/hello_world.json
[{"id":"aeb10ac8.9b9978","type":"debug","z":"863880d2.69fa5","name":"","active":true,"complete":"payload","x":610,"y":120,"wires":[]},{"id":"ecfee052.b78ff","type":"inject","z":"863880d2.69fa5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":120,"wires":[["2c8f9fd9.4735b"]]},{"id":"2c8f9fd9.4735b","type":"function","z":"863880d2.69fa5","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["aeb10ac8.9b9978"]]}]