nodered_lab/html_exec.json
[{"id":"664fb083.d10fd","type":"http in","z":"d925eb9c.b93f88","name":"dbfileTreat","url":"/read_db","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["9ee456d4.8744d8","293460ae.f2372"]]},{"id":"98ef38.085cc0c8","type":"http response","z":"d925eb9c.b93f88","name":"Return","x":710,"y":140,"wires":[]},{"id":"c988f39c.dd73a","type":"exec","z":"d925eb9c.b93f88","command":"python e:\\readfdb.py","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"ExecRelayScript","x":510,"y":193,"wires":[["4299a708.4b36c8","98ef38.085cc0c8"],["8b580b81.1b1798"],["8eaa2fe1.a182d"]]},{"id":"8b580b81.1b1798","type":"debug","z":"d925eb9c.b93f88","name":"stderror2","active":true,"console":"false","complete":"payload","x":620,"y":300,"wires":[]},{"id":"4299a708.4b36c8","type":"debug","z":"d925eb9c.b93f88","name":"stdout2","active":true,"console":"false","complete":"payload","x":700,"y":240,"wires":[]},{"id":"8eaa2fe1.a182d","type":"debug","z":"d925eb9c.b93f88","name":"return code2","active":true,"console":"false","complete":"payload","x":590,"y":360,"wires":[]},{"id":"9ee456d4.8744d8","type":"function","z":"d925eb9c.b93f88","name":"function","func":"if(msg.req.body)\n{\n    msg.payload = msg.req.body\n    return msg;\n}\n","outputs":1,"noerr":0,"x":318,"y":194,"wires":[["c988f39c.dd73a","6094afd8.2ccb8"]]},{"id":"6094afd8.2ccb8","type":"debug","z":"d925eb9c.b93f88","name":"function out","active":true,"console":"false","complete":"payload","x":525,"y":107,"wires":[]},{"id":"293460ae.f2372","type":"debug","z":"d925eb9c.b93f88","name":"stdout2","active":true,"console":"false","complete":"req.body","x":356,"y":51,"wires":[]}]