nodered_lab/lab1.json
[{"id":"929f7d2e.7350f","type":"debug","z":"5944281.9389fd8","name":"","active":true,"complete":"payload","x":610,"y":120,"wires":[]},{"id":"c719fcee.860dc","type":"inject","z":"5944281.9389fd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":120,"wires":[["b85ddce3.774f7","f418b7f4.92e718"]]},{"id":"b85ddce3.774f7","type":"function","z":"5944281.9389fd8","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["929f7d2e.7350f"]]},{"id":"f418b7f4.92e718","type":"function","z":"5944281.9389fd8","name":"another Format Date","func":"msg.payload = new Date().toISOString().\n  replace(/T/, ' ').      // replace T with a space\n  replace(/\\..+/, '')     // delete the dot and everything after\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["b2d400d3.99006"]]},{"id":"b2d400d3.99006","type":"debug","z":"5944281.9389fd8","name":"","active":true,"console":"false","complete":"false","x":612.1000366210938,"y":174,"wires":[]}]