nodered_lab/lab_mqtt_thingspeak.json
[{"id":"b3d3feaf.8f5","type":"inject","z":"cfaf3b6b.d7d458","name":"Fake lass data","topic":"/esp/qos0","payload":"|FAKE=1|device_id=jumbokh|date=2017-12-1|time=03:43:56|device=Nodemcu|s_d0=60.00|s_t0=23.40|s_h0=80.20|s_d1=0.00","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":140,"wires":[["54f40cad.ccb0b4","cf1196c.133ad68","24efd153.62b6ee"]]},{"id":"54f40cad.ccb0b4","type":"function","z":"cfaf3b6b.d7d458","name":"Temperature","func":"var MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(13,14).toString()};  //\nMsgA.payload = MsgA.Temp;\nMsgA.topic = \"LASS/Temp\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":417.1000061035156,"y":141,"wires":[["594c668b.068c48","4c13bd2a.389bb4"]]},{"id":"cf1196c.133ad68","type":"function","z":"cfaf3b6b.d7d458","name":"Humidity","func":"var MsgA =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(15,16).toString()};  //\nMsgA.payload = MsgA.Humi;\nMsgA.topic = \"LASS/Humi\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":411.1000061035156,"y":207,"wires":[["594c668b.068c48","4c13bd2a.389bb4"]]},{"id":"24efd153.62b6ee","type":"function","z":"cfaf3b6b.d7d458","name":"PM2.5","func":"var MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(11,12).toString()};  //\nMsgC.payload = MsgC.PM25;\nMsgC.topic = \"LASS/PM25\";\n\nreturn MsgC;","outputs":1,"noerr":0,"x":407.1000061035156,"y":277,"wires":[["594c668b.068c48","4c13bd2a.389bb4"]]},{"id":"594c668b.068c48","type":"debug","z":"cfaf3b6b.d7d458","name":"","active":true,"console":"false","complete":"payload","x":718.1000366210938,"y":140,"wires":[]},{"id":"f8381bb.6755ce8","type":"mqtt in","z":"cfaf3b6b.d7d458","name":"","topic":"/qos0","qos":"2","broker":"aa03e0e9.61719","x":180.10000610351562,"y":266,"wires":[["54f40cad.ccb0b4","cf1196c.133ad68","24efd153.62b6ee"]]},{"id":"4c13bd2a.389bb4","type":"thingspeak42","z":"cfaf3b6b.d7d458","name":"","delay":"15","topic1":"","topic2":"","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":711.1000366210938,"y":245,"wires":[]},{"id":"aa03e0e9.61719","type":"mqtt-broker","z":"","broker":"192.168.8.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]