nodered_lab/lab_mqtt_ui.json
[{"id":"c1a0279f.f03fb8","type":"inject","z":"d7e1a03d.d2a12","name":"Fake lass data","topic":"/esp/qos0","payload":"|FAKE=1|device_id=jumbokh|date=2017-12-1|time=03:43:56|device=Nodemcu|s_d0=60.00|s_t0=23.40|s_h0=80.20|s_d1=0.00","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":180,"wires":[["d793ac4d.f60d","2543dda.4745422","dc1250a8.927e6"]]},{"id":"d793ac4d.f60d","type":"function","z":"d7e1a03d.d2a12","name":"Temperature","func":"var MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(13,14).toString()};  //\nMsgA.payload = MsgA.Temp;\nMsgA.topic = \"LASS/Temp\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":457.1000061035156,"y":181,"wires":[["c04bb1d6.30ad9","9fab2bb1.9f7bd8"]]},{"id":"2543dda.4745422","type":"function","z":"d7e1a03d.d2a12","name":"Humidity","func":"var MsgA =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(15,16).toString()};  //\nMsgA.payload = MsgA.Humi;\nMsgA.topic = \"LASS/Humi\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":451.1000061035156,"y":247,"wires":[["c04bb1d6.30ad9","82dcef3a.8af07"]]},{"id":"dc1250a8.927e6","type":"function","z":"d7e1a03d.d2a12","name":"PM2.5","func":"var MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(11,12).toString()};  //\nMsgC.payload = MsgC.PM25;\nMsgC.topic = \"LASS/PM25\";\n\nreturn MsgC;","outputs":1,"noerr":0,"x":447.1000061035156,"y":317,"wires":[["c04bb1d6.30ad9","6f012eb2.deee8"]]},{"id":"c04bb1d6.30ad9","type":"debug","z":"d7e1a03d.d2a12","name":"","active":true,"console":"false","complete":"payload","x":758.1000366210938,"y":180,"wires":[]},{"id":"45873c3e.bdc0b4","type":"mqtt in","z":"d7e1a03d.d2a12","name":"","topic":"/qos0","qos":"2","broker":"12b0fe20.2ca092","x":220.10000610351562,"y":306,"wires":[["d793ac4d.f60d","2543dda.4745422","dc1250a8.927e6"]]},{"id":"9fab2bb1.9f7bd8","type":"ui_gauge","z":"d7e1a03d.d2a12","name":"","group":"b0f9e54f.6c8db8","order":0,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"度C","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":735.1000366210938,"y":268.20001220703125,"wires":[]},{"id":"82dcef3a.8af07","type":"ui_gauge","z":"d7e1a03d.d2a12","name":"","group":"b0f9e54f.6c8db8","order":0,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":733.1000366210938,"y":328.20001220703125,"wires":[]},{"id":"6f012eb2.deee8","type":"ui_gauge","z":"d7e1a03d.d2a12","name":"","group":"b0f9e54f.6c8db8","order":0,"width":0,"height":0,"gtype":"gage","title":"PM2.5","label":"units","format":"{{msg.payload}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":731.1000366210938,"y":382.20001220703125,"wires":[]},{"id":"12b0fe20.2ca092","type":"mqtt-broker","z":"","broker":"192.168.8.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b0f9e54f.6c8db8","type":"ui_group","z":"","name":"Default","tab":"422d1043.9cb0e","disp":true,"width":"6"},{"id":"422d1043.9cb0e","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]