nodered_lab/lass_thingspeak.json
[{"id":"8cfcd61.4977b28","type":"debug","z":"a6b8963e.fea048","name":"","active":true,"console":"true","complete":"payload","x":724.3275604248047,"y":56.362518310546875,"wires":[]},{"id":"289c906.e0d7e3","type":"inject","z":"a6b8963e.fea048","name":"","topic":"/esp8266/lass","payload":"|T=28|H=70|PM25=60|","payloadType":"str","repeat":"","crontab":"","once":false,"x":195.53919219970703,"y":77.07602405548096,"wires":[["a2fd4d9a.eb80c","4339349f.2c7a8","614c8906.45e6f8"]]},{"id":"c970f388.cee46","type":"mqtt in","z":"a6b8963e.fea048","name":"","topic":"/esp8266/lass","qos":"2","broker":"e11e1823.df173","x":109.6374740600586,"y":227.29492950439453,"wires":[["a2fd4d9a.eb80c","4339349f.2c7a8","614c8906.45e6f8"]]},{"id":"53cc9408.ce98c8","type":"thingspeak42","z":"a6b8963e.fea048","name":"","delay":"15","topic1":"/esp8266/T","topic2":"/esp8266/H","topic3":"/esp8266/pm25","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":758.22998046875,"y":232.4824447631836,"wires":[]},{"id":"a2fd4d9a.eb80c","type":"function","z":"a6b8963e.fea048","name":"Temperature","func":"var MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};  //\nMsgA.payload = MsgA.Temp;\nMsgA.topic = \"/esp8266/T\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":439.64247131347656,"y":154.87247467041016,"wires":[["8cfcd61.4977b28","53cc9408.ce98c8"]]},{"id":"4339349f.2c7a8","type":"function","z":"a6b8963e.fea048","name":"Humidity","func":"var MsgA =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};  //\nMsgA.payload = MsgA.Humi;\nMsgA.topic = \"/esp8266/H\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":426.9999542236328,"y":251.9249725341797,"wires":[["53cc9408.ce98c8","8cfcd61.4977b28"]]},{"id":"614c8906.45e6f8","type":"function","z":"a6b8963e.fea048","name":"PM2.5 Warning to Slack","func":"var MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(5,6).toString()};  //\nMsgC.payload = MsgC.PM25;\nMsgC.topic = \"/esp8266/pm25\";\n\nreturn MsgC;\n","outputs":1,"noerr":0,"x":441.0428466796875,"y":320.9999694824219,"wires":[["936f1fae.a1186","53cc9408.ce98c8","8cfcd61.4977b28"]]},{"id":"d4425e11.1823e8","type":"template","z":"a6b8963e.fea048","name":"High","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PM2.5: {{payload}},Bad: 空氣品質不好, 請注意","x":703.2486572265625,"y":373.18570709228516,"wires":[["d2918797.7d8bd8"]]},{"id":"936f1fae.a1186","type":"switch","z":"a6b8963e.fea048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"36","vt":"num","v2":"53","v2t":"num"},{"t":"gt","v":"53","vt":"num"}],"checkall":"true","outputs":2,"x":545.0858917236328,"y":408.7232437133789,"wires":[["d4425e11.1823e8"],["8ffe3885.8c4b58"]]},{"id":"8ffe3885.8c4b58","type":"template","z":"a6b8963e.fea048","name":"Dangerous","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PM2.5 Index: {{payload}},Danger: 空氣品質很糟糕, 請小心","x":704.2858734130859,"y":454.76080322265625,"wires":[["d2918797.7d8bd8"]]},{"id":"9387f200.ead43","type":"slack","z":"a6b8963e.fea048","name":"","channelURL":"https://hooks.slack.com/services/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","username":"Name1","emojiIcon":"","channel":"","x":1053.8198127746582,"y":409.7838954925537,"wires":[]},{"id":"d2918797.7d8bd8","type":"delay","z":"a6b8963e.fea048","name":"2 Hours update","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890.7733612060547,"y":409.26074600219727,"wires":[["9387f200.ead43"]]},{"id":"e11e1823.df173","type":"mqtt-broker","z":"","broker":"192.168.43.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]