nodered_lab/lass_freeboard.json
[{"id":"703c62f6.f94d4c","type":"debug","z":"f3cd6e25.92f77","name":"","active":true,"console":"true","complete":"true","x":741.518741607666,"y":132.84345531463623,"wires":[]},{"id":"46877ea0.65158","type":"inject","z":"f3cd6e25.92f77","name":"","topic":"/esp8266/lass","payload":"|T=28|H=70|PM25=60|","payloadType":"str","repeat":"","crontab":"","once":false,"x":220.1000213623047,"y":73.9551773071289,"wires":[["12784f78.eb0c91","2ebcf036.4711f4"]]},{"id":"7147d4b5.d7a59c","type":"mqtt in","z":"f3cd6e25.92f77","name":"","topic":"/esp8266/lass","qos":"2","broker":"e11e1823.df173","x":106.4982681274414,"y":166.86161422729492,"wires":[["12784f78.eb0c91","2ebcf036.4711f4"]]},{"id":"571a3fb2.cff638","type":"freeboard","z":"f3cd6e25.92f77","name":"CSU_IOT1061","x":812.4571838378906,"y":226.48211669921875,"wires":[]},{"id":"65d7000b.6f1da","type":"json","z":"f3cd6e25.92f77","name":"","x":580.8702011108398,"y":188.62622261047363,"wires":[["703c62f6.f94d4c","571a3fb2.cff638"]]},{"id":"12784f78.eb0c91","type":"function","z":"f3cd6e25.92f77","name":"Function to Freeboard","func":"//PM2.5 definition  http://taqm.epa.gov.tw/taqm/tw/fpmi-2.aspx ==>   0 > 36 > 54   \n//Humidity: 40-70 is comfortable, or too dry or humid\n//Temperature: Too Cold,  20-27 Comfortable, Too Hot\n// If Temp/humidity sensor is not well installed, Humidity will be higher than 55. So it would appear error. \n\nvar MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};  //\nvar MsgB =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};  //\nvar MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(5,6).toString()};  //\n\n\nvar MsgPM = MsgC.PM25;\n\n\tif (MsgPM >=54) {\t\t\t\n\tPM25M = 2;\n\t}else\n\tif (MsgPM >=36) {\n\tPM25M = 1;\n\t}else\n\tif (MsgPM >=0){\n\tPM25M = 0;\n\t}else {\n\tPM25M = -1;\n\t}\n\n\nvar MsgTemp = MsgA.Temp;\n\nif (MsgTemp >=27) {\t\t\t\n\tTempM = 2;\n\t}else\n\tif (MsgTemp >=20) {\n\tTempM = 1;\n\t} else {\n\tTempM = 0;\n\t}\n\n\t\nvar MsgHumid = MsgB.Humi;\n\nif (MsgHumid >=70) {\t\t\t\n\tHumidM = 2;\n\t}else\n\tif (MsgHumid >=40) {\n\tHumidM = 1;\n\t} else {\n\tHumidM = 0;\n\t}\t\n\t\n\nvar PM25MT = PM25M;  \n    \n    if (PM25MT == -1){\n    PM25Merror = \"沒有偵測到訊號\";\n    } \n    else{\n    PM25Merror = \"訊號正常\";\n    }\n\n\n\n//var HumT = MsgB.Humi;  \n    \n//    if (HumT == 60.80){\n//    TemHumError = \"可能沒有偵測到訊號\";\n//    } \n//    else{\n//    TemHumError = \"訊號正常\";\n//    }\n\n\n\t\n\t\n\nmsg.payload = JSON.stringify({\n \nTemp : MsgA.Temp,\nHumi: MsgB.Humi,\nPM25: MsgC.PM25,\nPM25M: PM25M,\nPM25Merror: PM25Merror,\nTempM: TempM,\nHumidM: HumidM,\n//TemHumError: TemHumError,\n\n\n });\n \n\nreturn msg;","outputs":1,"noerr":0,"x":393.28751373291016,"y":182.78748321533203,"wires":[["65d7000b.6f1da"]]},{"id":"2ebcf036.4711f4","type":"function","z":"f3cd6e25.92f77","name":"PM2.5 Warning to Slack","func":"var MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(29,30).toString()};  //\nMsgC.payload = MsgC.PM25;\nMsgC.topic = \"LASS/PM25\";\n\nreturn MsgC;\n","outputs":1,"noerr":0,"x":316.94281005859375,"y":336.51427459716797,"wires":[["c53820e4.d36678","703c62f6.f94d4c"]]},{"id":"e4e3acd9.5ed53","type":"template","z":"f3cd6e25.92f77","name":"High","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PM2.5: {{payload}},Bad: 空氣品質不好, 請注意","x":579.1486206054688,"y":388.70001220703125,"wires":[["e45bc60c.9037d8"]]},{"id":"c53820e4.d36678","type":"switch","z":"f3cd6e25.92f77","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"36","vt":"num","v2":"53","v2t":"num"},{"t":"gt","v":"53","vt":"num"}],"checkall":"true","outputs":2,"x":420.98585510253906,"y":424.237548828125,"wires":[["e4e3acd9.5ed53"],["460fb12a.dc54f"]]},{"id":"460fb12a.dc54f","type":"template","z":"f3cd6e25.92f77","name":"Dangerous","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PM2.5 Index: {{payload}},Danger: 空氣品質很糟糕, 請小心","x":580.1858367919922,"y":470.27510833740234,"wires":[["e45bc60c.9037d8"]]},{"id":"b0d75f8e.166a","type":"slack","z":"f3cd6e25.92f77","name":"","channelURL":"https://hooks.slack.com/services/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","username":"Name1","emojiIcon":"","channel":"","x":929.7197761535645,"y":425.2982006072998,"wires":[]},{"id":"e45bc60c.9037d8","type":"delay","z":"f3cd6e25.92f77","name":"2 Hours update","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":766.6733245849609,"y":424.77505111694336,"wires":[["b0d75f8e.166a"]]},{"id":"e11e1823.df173","type":"mqtt-broker","z":"","broker":"192.168.43.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]