nodered_lab/mqtt_freeboard.json
[{"id":"29fd549d.59f42c","type":"inject","z":"ed32c4f9.868968","name":"Fake lass data","topic":"LASS","payload":"|FAKE=1|device_id=jumbokh|date=2017-12-1|time=03:43:56|device=Nodemcu|s_d0=60.00|s_t0=23.40|s_h0=80.20","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":80,"wires":[["7f3b1008.05a37"]]},{"id":"b09f4dab.efb51","type":"mqtt in","z":"ed32c4f9.868968","name":"","topic":"/qos0","qos":"2","broker":"8790fe05.2e838","x":150,"y":140,"wires":[["7f3b1008.05a37"]]},{"id":"7f3b1008.05a37","type":"function","z":"ed32c4f9.868968","name":"function to freeboard","func":"var MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(13,14).toString()};\nvar MsgB =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(15,16).toString()};\nvar MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(11,12).toString()};\n\n\nmsg.payload = JSON.stringify({\n \nTemp : MsgA.Temp,\nHumi: MsgB.Humi,\nPM25: MsgC.PM25\n\n });\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["828464a7.fc56b8"]]},{"id":"828464a7.fc56b8","type":"json","z":"ed32c4f9.868968","name":"LASS","pretty":true,"x":610,"y":140,"wires":[["b884e49b.6d75a8","e5f7d9e5.9a24b8"]]},{"id":"b884e49b.6d75a8","type":"debug","z":"ed32c4f9.868968","name":"","active":true,"console":"false","complete":"true","x":770,"y":100,"wires":[]},{"id":"e5f7d9e5.9a24b8","type":"freeboard","z":"ed32c4f9.868968","name":"LASS","x":770,"y":200,"wires":[]},{"id":"8790fe05.2e838","type":"mqtt-broker","z":"","broker":"192.168.8.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]