nodered_lab/openweather.json
[{"id":"5f716947.177a98","type":"openweathermap","z":"45e37b2c.eaff14","name":"jumbo","wtype":"current","lon":"","lat":"","city":"Kaohsiung","country":"tw","language":"en","x":366.16668701171875,"y":161.88888549804688,"wires":[["a7de06c2.1cffa8"]]},{"id":"a7de06c2.1cffa8","type":"debug","z":"45e37b2c.eaff14","name":"","active":true,"console":"false","complete":"true","x":560.1666870117188,"y":141.7777862548828,"wires":[]},{"id":"4145e81a.5fff78","type":"inject","z":"45e37b2c.eaff14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":187.16665649414062,"y":86.88888549804688,"wires":[["5f716947.177a98"]]},{"id":"85d6bd5b.8396f","type":"openweathermap in","z":"45e37b2c.eaff14","name":"jumbo","wtype":"current","lon":"","lat":"","city":"Kaohsiung","country":"tw","language":"en","x":328.1666564941406,"y":243,"wires":[["a7de06c2.1cffa8"]]}]