nodered_lab/programIII.json
[{"id":"ca2e804b.bf897","type":"ui_template","z":"a7836819.745118","group":"a38be47.4d47c18","name":"class_cv_voltage","order":0,"width":"8","height":"5","format":"<head>\n    \n<style>\ntable, th, td {\n    border: 1px solid black;\n    border-collapse: collapse;\n}\ntable {\n    border-spacing: 5px;\n}\nth, td {\n    padding: 5px;\n}\nth {\n    text-align: left;\n}\ndiv {\n    border-radius: 5px;\n  \n    padding: 10px;\n}\ntable#t01 tr:nth-child(even) {\n    background-color: #eee;\n}\n\ntable#t01 th {\n    color: white;\n    background-color: black;\n}\n</style>\n\n<title>應力實驗</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n</head>\n<table style=\"width:100%\">\n  <tr>\n    <th>學號</th>\n    <th>電壓值</th> \n    <th>時間</th>\n  </tr>\n  <tr>\n    <td>{{msg.team}}</td>\n    <td>{{msg.payload}} V</td>\n    <td>{{msg.time}}</td> \n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":100,"wires":[["2acf430c.825bac"]]},{"id":"34dd099.0c1adf6","type":"ui_gauge","z":"a7836819.745118","name":"電壓值","group":"a38be47.4d47c18","order":0,"width":"8","height":"5","gtype":"gage","title":"Gauge","label":"伏特","format":"{{msg.payload}}","min":0,"max":"5","colors":["#ff0000","#e6e600","#008000"],"seg1":"2.5","seg2":"3.75","x":710,"y":220,"wires":[]},{"id":"e810f34f.e5dd4","type":"function","z":"a7836819.745118","name":"reset data1","func":"var MsgA = {Team: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};\nvar MsgB = {VOUT: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};\n\nvar dt = new Date();\nvar __date = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds(),\n}\nvar MsgC = __date.year+\"-\"+__date.month+\"-\"+__date.day+\" \"+\n           __date.hours+\":\"+__date.mins+\":\"+__date.msecs;\n\nmsg.team=MsgA.Team;\nmsg.payload = MsgB.VOUT;\nmsg.time = MsgC;\n\n//node.log(MsgA.Team+\",\"+MsgB.VOUT+\",\"+MsgC+\");\nreturn msg;\n","outputs":1,"noerr":0,"x":518.9999732971191,"y":173.00000476837158,"wires":[["ca2e804b.bf897","34dd099.0c1adf6","73494c68.445b24","f81c8532.945f78"]]},{"id":"2acf430c.825bac","type":"debug","z":"a7836819.745118","name":"","active":false,"console":"false","complete":"true","x":890,"y":180,"wires":[]},{"id":"73494c68.445b24","type":"ui_chart","z":"a7836819.745118","name":"votage","group":"a38be47.4d47c18","order":0,"width":"6","height":"5","label":"電壓值(V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting","dot":true,"ymin":"0","ymax":"5","removeOlder":"2","removeOlderPoints":"25","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":160,"wires":[["2acf430c.825bac"],[]]},{"id":"f3cc7c93.67317","type":"inject","z":"a7836819.745118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":302,"y":180,"wires":[["531acc6e.040924"]]},{"id":"531acc6e.040924","type":"function","z":"a7836819.745118","name":"random","func":"var max = 4.5;\nvar min = 2.5;\nvar vout = Math.random()*(max-min)+min;\nmsg.payload = \"|team=40440039|vout=\"+vout.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":407.2999839782715,"y":103.60005760192871,"wires":[["e810f34f.e5dd4"]]},{"id":"e3052f37.20572","type":"file","z":"a7836819.745118","name":"save file","filename":"pg3.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":702,"y":280,"wires":[[]]},{"id":"f81c8532.945f78","type":"function","z":"a7836819.745118","name":"","func":"msg.payload = \"|team=\"+msg.team+\"|value=\"+ msg.payload+\"|time=\"+msg.time+\"|,\";\nreturn msg;","outputs":1,"noerr":0,"x":541.1666870117188,"y":279.3333435058594,"wires":[["e3052f37.20572"]]},{"id":"2e3fbff9.874d9","type":"http in","z":"a7836819.745118","name":"","url":"/read","method":"get","upload":false,"swaggerDoc":"","x":290,"y":570,"wires":[["1b553a7d.5b5d86"]]},{"id":"1b553a7d.5b5d86","type":"file in","z":"a7836819.745118","name":"","filename":"pg3.json","format":"utf8","sendError":true,"x":450,"y":570,"wires":[["b7462df7.bc5f9"]]},{"id":"b7462df7.bc5f9","type":"change","z":"a7836819.745118","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":570,"wires":[["98f79200.17da8"]]},{"id":"98f79200.17da8","type":"http response","z":"a7836819.745118","name":"","statusCode":"","headers":{},"x":840,"y":570,"wires":[]},{"id":"9357ee25.db01a","type":"http in","z":"a7836819.745118","name":"","url":"/in","method":"get","upload":false,"swaggerDoc":"","x":293.00000762939453,"y":895.0000219345093,"wires":[["73044ed1.5f42d"]]},{"id":"c675ce37.5f9dc","type":"http response","z":"a7836819.745118","name":"","statusCode":"","headers":{},"x":1060.0005645751953,"y":888.0005521774292,"wires":[]},{"id":"7cbe9e6c.4dc0e","type":"comment","z":"a7836819.745118","name":"製作資料 flow","info":"","x":289.29998779296875,"y":63.599998474121094,"wires":[]},{"id":"5bb920c1.33eee","type":"comment","z":"a7836819.745118","name":"http 讀取資料 -- JSON 格式","info":"","x":333.3000030517578,"y":510.6000289916992,"wires":[]},{"id":"eedbba2.a485d48","type":"comment","z":"a7836819.745118","name":"http 讀取資料 表格輸出","info":"","x":345.3000183105469,"y":828.9333505630493,"wires":[]},{"id":"14ec34c4.dff79b","type":"template","z":"a7836819.745118","name":"css","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":773.700138092041,"y":886.5336265563965,"wires":[["6e6edeba.c6ad9"]]},{"id":"73044ed1.5f42d","type":"file in","z":"a7836819.745118","name":"","filename":"m.dat","format":"utf8","chunk":false,"sendError":false,"x":451.000057220459,"y":895.6001644134521,"wires":[["c9fb46df.5e99e8"]]},{"id":"302b9210.03821e","type":"inject","z":"a7836819.745118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":315.99999237060547,"y":1036.6667108535767,"wires":[["e91672b1.4ba39"]]},{"id":"a792c63c.149838","type":"json","z":"a7836819.745118","name":"","pretty":false,"x":580.0002784729004,"y":1036.6002388000488,"wires":[["7f23fc50.ceb404"]]},{"id":"7f23fc50.ceb404","type":"template","z":"a7836819.745118","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":732.7000007629395,"y":1036.5335702896118,"wires":[["bfdfb42f.d40ad8","e4709bd0.bdc5f8"]]},{"id":"bfdfb42f.d40ad8","type":"ui_template","z":"a7836819.745118","group":"ccf041a9.f5fd1","name":"json file list","order":0,"width":"18","height":"18","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <th>Index</th> \n    <th>輸出</th> \n    <th>時間</th>\n  </tr>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{$index}}</td>\n    <td>{{ obj.value }}V</td>\n    <td>{{ obj.time }}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1043.6998748779297,"y":1033.5333776474,"wires":[[]]},{"id":"6e6edeba.c6ad9","type":"template","z":"a7836819.745118","name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <style>\n        {{{payload.style}}}\n    </style>\n</head>\n\n<table>\n  <tr>\n    <th>Index</th> \n    <th>輸出</th> \n    <th>時間</th> \n  </tr>\n  {{#payload}}\n  <tr>\n    <td>{{index}}</td>\n    <td>{{value}}</td>\n    <td>{{time}}</td> \n  </tr>\n  {{/payload}}\n</table>","x":906.9999618530273,"y":888.6666326522827,"wires":[["c675ce37.5f9dc"]]},{"id":"79ae56de.a667c8","type":"comment","z":"a7836819.745118","name":"手動讀取資料 表格輸出","info":"","x":326.99999237060547,"y":972.6666259765625,"wires":[]},{"id":"e91672b1.4ba39","type":"file in","z":"a7836819.745118","name":"","filename":"m.dat","format":"utf8","chunk":false,"sendError":false,"x":445.0000305175781,"y":1038.6667766571045,"wires":[["a792c63c.149838"]]},{"id":"c75e3ef0.7d74a","type":"inject","z":"a7836819.745118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":312.99993896484375,"y":427.9999694824219,"wires":[["d5223c29.07ef2"]]},{"id":"d5223c29.07ef2","type":"function","z":"a7836819.745118","name":"random","func":"var max = 4.5;\nvar min = 2.5;\nvar vout = Math.random()*(max-min)+min;\nmsg.payload = \"|team=40440039|vout=\"+vout.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":415.29993057250977,"y":372.6000061035156,"wires":[["d4052678.2a1218"]]},{"id":"d4052678.2a1218","type":"function","z":"a7836819.745118","name":"reset data1","func":"var MsgA = {Team: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};\nvar MsgB = {VOUT: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};\n\nvar dt = new Date();\nvar __date = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds(),\n}\nvar MsgC = __date.year+\"-\"+__date.month+\"-\"+__date.day+\" \"+\n           __date.hours+\":\"+__date.mins+\":\"+__date.msecs;\n\nmsg.team=MsgA.Team;\nmsg.payload = MsgB.VOUT;\nmsg.time = MsgC;\n\n//node.log(MsgA.Team+\",\"+MsgB.VOUT+\",\"+MsgC+\");\nreturn msg;\n","outputs":1,"noerr":0,"x":480.99995040893555,"y":425.99999809265137,"wires":[["be65b680.150478"]]},{"id":"be65b680.150478","type":"function","z":"a7836819.745118","name":"convert to json","func":"var newmsg = \n{\n payload:{\n \"team\": msg.team, \n \"value\": msg.payload,\n \"time\": msg.time}\n };\n\nreturn newmsg;","outputs":1,"noerr":0,"x":614.1666564941406,"y":372.3333282470703,"wires":[["c9194847.d357d8"]]},{"id":"c9194847.d357d8","type":"file","z":"a7836819.745118","name":"save file","filename":"pg3.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":701.0000076293945,"y":434.99999618530273,"wires":[[]]},{"id":"68e22133.00397","type":"comment","z":"a7836819.745118","name":"整理後","info":"","x":274.29998779296875,"y":328.0666732788086,"wires":[]},{"id":"5478c560.c8600c","type":"comment","z":"a7836819.745118","name":"資料表範例","info":"","x":298.3000030517578,"y":642.0666732788086,"wires":[]},{"id":"459ec348.749cec","type":"template","z":"a7836819.745118","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <style>\n        {{{payload.style}}}\n    </style>\n</head>\n\n\n<table width=\"100%\">\n  <tr>\n    <th>Name</th>\n    <th>IP</th> \n  </tr>\n  {{#payload}}\n  <tr>\n    <td>{{{name}}}</td>\n    <td>{{ip}}</td> \n  </tr>\n  {{/payload}}\n</table>","x":903,"y":725.9999389648438,"wires":[["b614097f.bd20e8","c5ffb44c.7b92b8"]]},{"id":"b614097f.bd20e8","type":"http response","z":"a7836819.745118","name":"","statusCode":"","headers":{},"x":1043,"y":725.9999389648438,"wires":[]},{"id":"9b03376d.772d98","type":"template","z":"a7836819.745118","name":"css","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":763,"y":725.9999389648438,"wires":[["459ec348.749cec"]]},{"id":"8da95d0c.15a1c","type":"template","z":"a7836819.745118","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\"name\": \"Computer 1\", \"ip\": \"6.3.6.6\"},\n    {\"name\": \"Computer 2\", \"ip\": \"6.3.6.6\"},\n    {\"name\": \"Computer 3\", \"ip\": \"6.7.6.6\"},\n    {\"name\": \"Computer 4\", \"ip\": \"6.4.6.6\"}\n]\n    ","x":463,"y":725.9999389648438,"wires":[["602196da.c0e878"]]},{"id":"602196da.c0e878","type":"json","z":"a7836819.745118","name":"","pretty":false,"x":623,"y":725.9999389648438,"wires":[["9b03376d.772d98","ba240a8.90d6df8"]]},{"id":"3ea3919a.84b09e","type":"http in","z":"a7836819.745118","name":"","url":"/table","method":"get","swaggerDoc":"","x":293,"y":725.9999389648438,"wires":[["8da95d0c.15a1c"]]},{"id":"ba240a8.90d6df8","type":"debug","z":"a7836819.745118","name":"","active":false,"console":"false","complete":"true","x":777.300106048584,"y":812.666693687439,"wires":[]},{"id":"e4709bd0.bdc5f8","type":"debug","z":"a7836819.745118","name":"","active":false,"console":"false","complete":"false","x":900.3000335693359,"y":980.6666793823242,"wires":[]},{"id":"c9fb46df.5e99e8","type":"function","z":"a7836819.745118","name":"","func":"var data = msg.payload;\nvar res1 = data.toString().replace(/,\\n$/gi,\"\\n\").split('\\n').length;\nvar obj = [];\nfor(var i = 0;i<res1;i++)\n{\n  var nn = data.toString().replace(/,\\n$/gi,\"\\n\").split('\\n').slice(i+1,i+2);\n  if(nn.toString().length <=1) continue;\n  var v1 = JSON.parse(nn.toString().replace(/,$/gi,\"\"));\n  var newone = {index:i+1,team:v1.team,value:v1.value,time:v1.time};\n  obj.push(newone);\n}\n\nvar newMsg = { payload: obj,req: msg.req,res:msg.res };\nreturn newMsg;","outputs":1,"noerr":0,"x":601.3000679016113,"y":894.0668878555298,"wires":[["14ec34c4.dff79b","ba240a8.90d6df8"]]},{"id":"c5ffb44c.7b92b8","type":"debug","z":"a7836819.745118","name":"","active":false,"console":"false","complete":"false","x":1045.300033569336,"y":668.466667175293,"wires":[]},{"id":"a38be47.4d47c18","type":"ui_group","z":"","name":"Default","tab":"624aa9ba.fc4698","disp":true,"width":"12"},{"id":"ccf041a9.f5fd1","type":"ui_group","z":"","name":"json html output","tab":"167c0906.3e71e7","disp":true,"width":"18"},{"id":"624aa9ba.fc4698","type":"ui_tab","z":"","name":"Home1","icon":"dashboard"},{"id":"167c0906.3e71e7","type":"ui_tab","z":"","name":"Test","icon":"dashboard"}]