nodered_lab/programI.json
[{"id":"27e4ea56.36ffb6","type":"ui_template","z":"661926c7.33f3f8","group":"7801d5b7.7d4d0c","name":"class_cv_voltage","order":0,"width":"8","height":"5","format":"<head>\n    \n<style>\ntable, th, td {\n    border: 1px solid black;\n    border-collapse: collapse;\n}\ntable {\n    border-spacing: 5px;\n}\nth, td {\n    padding: 5px;\n}\nth {\n    text-align: left;\n}\ndiv {\n    border-radius: 5px;\n  \n    padding: 10px;\n}\ntable#t01 tr:nth-child(even) {\n    background-color: #eee;\n}\n\ntable#t01 th {\n    color: white;\n    background-color: black;\n}\n</style>\n\n<title>應力實驗</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n</head>\n<table style=\"width:100%\">\n  <tr>\n    <th>學號</th>\n    <th>電壓值</th> \n    <th>時間</th>\n  </tr>\n  <tr>\n    <td>{{msg.team}}</td>\n    <td>{{msg.payload}} V</td>\n    <td>{{msg.time}}</td> \n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":100,"wires":[["ec05c366.d022c"]]},{"id":"2095b814.2535d8","type":"ui_gauge","z":"661926c7.33f3f8","name":"電壓值","group":"5f3680a5.cc5a5","order":0,"width":"8","height":"5","gtype":"gage","title":"Gauge","label":"伏特","format":"{{msg.payload}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2.5","seg2":"3.75","x":693,"y":240.9999942779541,"wires":[]},{"id":"43a23f70.fafef","type":"function","z":"661926c7.33f3f8","name":"reset data1","func":"var MsgA = {Team: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};\nvar MsgB = {VOUT: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};\n\nvar dt = new Date();\nvar __date = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds(),\n}\nvar MsgC = __date.year+\"-\"+__date.month+\"-\"+__date.day+\" \"+\n           __date.hours+\":\"+__date.mins+\":\"+__date.msecs;\n\nmsg.team=MsgA.Team;\nmsg.payload = MsgB.VOUT;\nmsg.time = MsgC;\n\n//node.log(MsgA.Team+\",\"+MsgB.VOUT+\",\"+MsgC+\");\nreturn msg;\n","outputs":1,"noerr":0,"x":436.99997329711914,"y":133.00000476837158,"wires":[["27e4ea56.36ffb6","2095b814.2535d8","589b4c9e.8b61f4"]]},{"id":"ec05c366.d022c","type":"debug","z":"661926c7.33f3f8","name":"","active":true,"console":"false","complete":"true","x":938.2523612976074,"y":174.0810432434082,"wires":[]},{"id":"589b4c9e.8b61f4","type":"ui_chart","z":"661926c7.33f3f8","name":"votage","group":"bffc27d5.3d8bd8","order":0,"width":"6","height":"5","label":"電壓值(V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting","dot":true,"ymin":"0","ymax":"5","removeOlder":"2","removeOlderPoints":"25","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":696,"y":166.00000286102295,"wires":[["ec05c366.d022c"],[]]},{"id":"9c76516c.836dc","type":"inject","z":"661926c7.33f3f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":182.99996948242188,"y":203.99999809265137,"wires":[["1391dfec.6247a"]]},{"id":"1391dfec.6247a","type":"function","z":"661926c7.33f3f8","name":"random","func":"var vout = Math.random()*5.0;\nmsg.payload = \"|team=40440039|vout=\"+vout.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":284.29998779296875,"y":312.6000270843506,"wires":[["43a23f70.fafef"]]},{"id":"7801d5b7.7d4d0c","type":"ui_group","z":"","name":"紀錄表","tab":"ed6a68e9.dda6b8","order":3,"disp":true,"width":"8"},{"id":"5f3680a5.cc5a5","type":"ui_group","z":"","name":"碼表","tab":"ed6a68e9.dda6b8","order":2,"disp":true,"width":"8"},{"id":"bffc27d5.3d8bd8","type":"ui_group","z":"","name":"歷史紀錄","tab":"ed6a68e9.dda6b8","order":1,"disp":true,"width":"8"},{"id":"ed6a68e9.dda6b8","type":"ui_tab","z":"","name":"電壓實驗：40440039","icon":"dashboard","order":2}]