nodered_lab/programII.json
[{"id":"68f7615e.b88d7","type":"ui_template","z":"122dc1b5.71edee","group":"8cad5392.9f2ff","name":"class_cv_voltage","order":0,"width":"8","height":"5","format":"<head>\n    \n<style>\ntable, th, td {\n    border: 1px solid black;\n    border-collapse: collapse;\n}\ntable {\n    border-spacing: 5px;\n}\nth, td {\n    padding: 5px;\n}\nth {\n    text-align: left;\n}\ndiv {\n    border-radius: 5px;\n  \n    padding: 10px;\n}\ntable#t01 tr:nth-child(even) {\n    background-color: #eee;\n}\n\ntable#t01 th {\n    color: white;\n    background-color: black;\n}\n</style>\n\n<title>應力實驗</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n</head>\n<table style=\"width:100%\">\n  <tr>\n    <th>學號</th>\n    <th>電壓值</th> \n    <th>時間</th>\n  </tr>\n  <tr>\n    <td>{{msg.team}}</td>\n    <td>{{msg.payload}} V</td>\n    <td>{{msg.time}}</td> \n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":120,"wires":[["e0db9271.a4b0c"]]},{"id":"916e3996.93dd28","type":"ui_gauge","z":"122dc1b5.71edee","name":"電壓值","group":"7ff2e33b.073a3c","order":0,"width":"8","height":"5","gtype":"gage","title":"Gauge","label":"伏特","format":"{{msg.payload}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2.5","seg2":"3.75","x":653,"y":260.9999942779541,"wires":[]},{"id":"556e7a67.8b9964","type":"function","z":"122dc1b5.71edee","name":"reset data1","func":"var MsgA = {Team: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};\nvar MsgB = {VOUT: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};\n\nvar dt = new Date();\nvar __date = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds(),\n}\nvar MsgC = __date.year+\"-\"+__date.month+\"-\"+__date.day+\" \"+\n           __date.hours+\":\"+__date.mins+\":\"+__date.msecs;\n\nmsg.team=MsgA.Team;\nmsg.payload = MsgB.VOUT;\nmsg.time = MsgC;\n\n//node.log(MsgA.Team+\",\"+MsgB.VOUT+\",\"+MsgC+\");\nreturn msg;\n","outputs":1,"noerr":0,"x":396.99997329711914,"y":153.00000476837158,"wires":[["68f7615e.b88d7","916e3996.93dd28","4dd7817a.1d2ef"]]},{"id":"e0db9271.a4b0c","type":"debug","z":"122dc1b5.71edee","name":"","active":true,"console":"false","complete":"true","x":898.2523612976074,"y":194.0810432434082,"wires":[]},{"id":"4dd7817a.1d2ef","type":"ui_chart","z":"122dc1b5.71edee","name":"votage","group":"6ee2bd0d.98e454","order":0,"width":"6","height":"5","label":"電壓值(V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting","dot":true,"ymin":"0","ymax":"5","removeOlder":"2","removeOlderPoints":"25","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":656,"y":186.00000286102295,"wires":[["e0db9271.a4b0c"],[]]},{"id":"1a42ae9b.afe4b1","type":"inject","z":"122dc1b5.71edee","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":152.99996948242188,"y":223.99999809265137,"wires":[["29ec4f32.38c3a"]]},{"id":"29ec4f32.38c3a","type":"function","z":"122dc1b5.71edee","name":"random","func":"var vout = Math.random()*5.0;\nmsg.payload = \"|team=40440039|vout=\"+vout.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":244.29998779296875,"y":332.6000270843506,"wires":[["556e7a67.8b9964"]]},{"id":"8cad5392.9f2ff","type":"ui_group","z":"","name":"紀錄表","tab":"7f02591f.ff2338","order":3,"disp":true,"width":"8"},{"id":"7ff2e33b.073a3c","type":"ui_group","z":"","name":"碼表","tab":"7f02591f.ff2338","order":2,"disp":true,"width":"8"},{"id":"6ee2bd0d.98e454","type":"ui_group","z":"","name":"歷史紀錄","tab":"7f02591f.ff2338","order":1,"disp":true,"width":"8"},{"id":"7f02591f.ff2338","type":"ui_tab","z":"","name":"電壓實驗：40440039","icon":"dashboard","order":2}]