nodered_lab/random_gauge.json
[{"id":"c0ced320.cf4ae","type":"inject","z":"5d58f027.c9944","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":60,"wires":[["7bf4a7ee.456e68"]]},{"id":"7bf4a7ee.456e68","type":"function","z":"5d58f027.c9944","name":"random temp.","func":"\nvar max = 22;\nvar min = 20;\nvar newValue = Math.random() * (max - min) + min;\nmsg.payload = JSON.stringify({\n    Temp: newValue.toFixed(2)\n});\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":120,"wires":[["2519a325.a6bfec","8f6bab5c.a0c7e8"]]},{"id":"2519a325.a6bfec","type":"debug","z":"5d58f027.c9944","name":"","active":true,"console":"false","complete":"false","x":450,"y":80,"wires":[]},{"id":"3eeef2c1.adc5ae","type":"freeboard","z":"5d58f027.c9944","name":"gauge ","x":510,"y":220,"wires":[]},{"id":"8f6bab5c.a0c7e8","type":"json","z":"5d58f027.c9944","name":"","pretty":false,"x":370,"y":200,"wires":[["3eeef2c1.adc5ae"]]}]