nodered_lab/sqlite_op_fin.json
[{"id":"6c347a5d.bd7434","type":"inject","z":"b176c100.371ac","name":"CREATE TABLE","topic":"CREATE TABLE dhtreadings(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, humidity NUMERIC, currentdate DATE, currenttime TIME, device TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":420.16668701171875,"y":243,"wires":[["77dedff8.bddb"]]},{"id":"49d3c3f3.81f0cc","type":"inject","z":"b176c100.371ac","name":"INSERT","topic":"INSERT INTO dhtreadings(temperature, humidity, currentdate, currenttime, device) values(22.4, 48, date('now'), time('now'), \"manual\")","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":400,"y":292,"wires":[["77dedff8.bddb"]]},{"id":"f06b38ca.84f8d8","type":"inject","z":"b176c100.371ac","name":"SELECT","topic":"SELECT * FROM dhtreadings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":400,"y":340,"wires":[["77dedff8.bddb"]]},{"id":"e77ae6bd.9d07d8","type":"inject","z":"b176c100.371ac","name":"DELETE","topic":"DELETE from dhtreadings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":400,"y":385,"wires":[["77dedff8.bddb"]]},{"id":"f1e38bcd.f2d888","type":"inject","z":"b176c100.371ac","name":"DROP TABLE","topic":"DROP TABLE dhtreadings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":410,"y":429,"wires":[["77dedff8.bddb"]]},{"id":"77dedff8.bddb","type":"sqlite","z":"b176c100.371ac","mydb":"f447800f.f8477","sqlquery":"msg.topic","sql":"","name":"station.db","x":636.1666870117188,"y":328,"wires":[["9cd4d2d1.801f"]]},{"id":"9cd4d2d1.801f","type":"debug","z":"b176c100.371ac","name":"","active":true,"console":"false","complete":"false","x":846.1666870117188,"y":330.77777099609375,"wires":[]},{"id":"a376e311.e58db","type":"inject","z":"b176c100.371ac","name":"SELECT","topic":"SELECT count(*) FROM dhtreadings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":400,"y":480,"wires":[["77dedff8.bddb"]]},{"id":"f447800f.f8477","type":"sqlitedb","z":"","db":"/tmp/sation.db","mode":"RWC"}]