nodered_lab/thingspeak_db_csv.json
[{"id":"28011716.852dd8","type":"inject","z":"75e92846.b38048","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":230,"y":160,"wires":[["f71f12fd.8e23b","880e28ae.9877b8","e409dd36.4da7b"]]},{"id":"f71f12fd.8e23b","type":"function","z":"75e92846.b38048","name":"Temperature","func":"var max_val = 36;\nvar min_val = 8;\n\nrnd = Math.floor (Math.random()* \n      (max_val-min_val)+min_val);\nvar MsgA =  {};\nMsgA.payload = rnd;\nMsgA.topic = \"LASS/Temp\";\n\ncontext.Temp = rnd;\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["fe86b26e.6ffb6","2db84a84.5159f6","b91505e2.bea5f8"]]},{"id":"880e28ae.9877b8","type":"function","z":"75e92846.b38048","name":"Humidity","func":"var max_val = 100;\nvar min_val = 0;\n\nrnd = Math.floor (Math.random()* \n      (max_val-min_val)+min_val);\nvar MsgA =  {};\nMsgA.payload = rnd;\nMsgA.topic = \"LASS/Humi\";\ncontext.humi = rnd;\nreturn MsgA;\n","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["2db84a84.5159f6","fe86b26e.6ffb6","b91505e2.bea5f8"]]},{"id":"e409dd36.4da7b","type":"function","z":"75e92846.b38048","name":"PM2.5 Warning to Slack","func":"var max_val = 150;\nvar min_val = 0;\n\nrnd = Math.floor (Math.random()* \n      (max_val-min_val)+min_val);\nvar MsgA =  {};\nMsgA.payload = rnd;\nMsgA.topic = \"LASS/PM25\";\ncontext.pm25 = rnd;\nreturn MsgA;\n\n","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["2db84a84.5159f6","fe86b26e.6ffb6","b91505e2.bea5f8"]]},{"id":"2db84a84.5159f6","type":"thingspeak42","z":"75e92846.b38048","name":"IOTlab","delay":"15","topic1":"LASS/Temp","topic2":"LASS/Humi","topic3":"LASS/PM25","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":816.690788269043,"y":273.40642166137695,"wires":[]},{"id":"fe86b26e.6ffb6","type":"debug","z":"75e92846.b38048","name":"","active":false,"console":"true","complete":"payload","x":812.7883682250977,"y":97.28649520874023,"wires":[]},{"id":"b91505e2.bea5f8","type":"function","z":"75e92846.b38048","name":"join and conver to json","func":"context.Temp = context.Temp || 0.0;\ncontext.Humi = context.Humi || 0.0;\ncontext.pm25 = context.pm25 || 0.0;\nvar myDate = new Date();\nvar t = myDate.getFullYear()+\"-\"+(myDate.getMonth()+1)+\"-\"+\n  myDate.getDate()+\"-\"+myDate.getHours() + \":\" + \n  myDate.getMinutes() + \":\" + myDate.getSeconds();\nvar date = myDate.getFullYear()+\"-\"+(myDate.getMonth()+1)+\"-\"+\n           myDate.getDate();\nvar time = myDate.getHours() + \":\" + \n  myDate.getMinutes() + \":\" + myDate.getSeconds();\nmsg.payload ={\n    timestamp: t,\n\tcurrentdate: date,\n\tcurrenttime: time,\n    Temp: context.Temp.toFixed(2),\n    Humi: context.Humi.toFixed(2),\n    PM25: context.pm25.toFixed(2)\n};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["e0efc70e.54b7a8","11caccae.adf9a3"]]},{"id":"11caccae.adf9a3","type":"function","z":"75e92846.b38048","name":"conver json to string","func":"var myJSON = JSON.stringify(msg.payload);\nlet user = JSON.parse(myJSON);\nmsg.payload = user.timestamp+\",\"+user.Temp+\n         \",\"+user.Humi+\",\"+user.PM25;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":460,"wires":[["658ec854.9d9c18"]]},{"id":"658ec854.9d9c18","type":"file","z":"75e92846.b38048","name":"","filename":"/tmp/fake.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":850,"y":340,"wires":[["808bfc59.4e92f"]]},{"id":"808bfc59.4e92f","type":"debug","z":"75e92846.b38048","name":"","active":true,"console":"false","complete":"true","x":850,"y":420,"wires":[]},{"id":"85954ca6.d2b9e","type":"sqlite","z":"75e92846.b38048","mydb":"f447800f.f8477","sqlquery":"msg.topic","sql":"","name":"","x":816.1666870117188,"y":501.66668701171875,"wires":[["808bfc59.4e92f"]]},{"id":"e0efc70e.54b7a8","type":"function","z":"75e92846.b38048","name":"make insert string","func":"var myJSON = JSON.stringify(msg.payload);\nlet user = JSON.parse(myJSON);\nmsg.topic = \"INSERT INTO dhtreadings(temperature, humidity, currentdate, currenttime, device) values(\" +\nuser.Temp+\",\"+user.Humi+ \",\\'\"+ user.currentdate +\"\\',\\'\" + user.currenttime+\"\\',\\'manual\\')\";\nreturn msg;","outputs":1,"noerr":0,"x":563.1666870117188,"y":512.888916015625,"wires":[["85954ca6.d2b9e"]]},{"id":"f447800f.f8477","type":"sqlitedb","z":"","db":"/tmp/sation.db","mode":"RWC"}]