nodered_lab/treat_date.json
[{"id":"6f2ba0b4.31bf3","type":"inject","z":"e7848e5f.93c7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":200,"wires":[["b7b6fc05.15924"]]},{"id":"b7b6fc05.15924","type":"function","z":"e7848e5f.93c7a","name":"cvt","func":"var date = new Date(msg.payload);\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\nvar newmsg = {\n    payload: date\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["94400a0c.de57e8"]]},{"id":"94400a0c.de57e8","type":"debug","z":"e7848e5f.93c7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":220,"wires":[]},{"id":"ec44784.04b2f88","type":"switch","z":"e7848e5f.93c7a","name":"ON/OFF state","property":"switch","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":420,"wires":[["fa6716f7.0578e8"],["fd06e5d9.69ee68"]]},{"id":"fa6716f7.0578e8","type":"function","z":"e7848e5f.93c7a","name":"if is on","func":"msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"TURN OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["c3093e75.58df9"]]},{"id":"fd06e5d9.69ee68","type":"function","z":"e7848e5f.93c7a","name":"if its off","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"TURN ON\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["c3093e75.58df9"]]},{"id":"c3093e75.58df9","type":"ui_button","z":"e7848e5f.93c7a","name":"on/off","group":"be0a6612.5174b8","order":5,"width":"7","height":"1","passthru":false,"label":"{{msg.text}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"ac_unit","payload":"none","payloadType":"str","topic":"button","x":850,"y":400,"wires":[["f5e84096.e16cb"]]},{"id":"f5e84096.e16cb","type":"switch","z":"e7848e5f.93c7a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":400,"wires":[["bcfe6871.20b788"]]},{"id":"8c0cc3c8.0cea6","type":"inject","z":"e7848e5f.93c7a","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":170,"y":320,"wires":[["e3640f8e.1b94d"]]},{"id":"e3640f8e.1b94d","type":"change","z":"e7848e5f.93c7a","name":"global switch start","rules":[{"t":"set","p":"switch","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":320,"wires":[[]]},{"id":"a4eca478.348868","type":"inject","z":"e7848e5f.93c7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":420,"wires":[["dcb2e14c.41a3f"]]},{"id":"bcfe6871.20b788","type":"function","z":"e7848e5f.93c7a","name":"set output","func":"var obtaindata = global.get (\"switch\")\nif (obtaindata == \"1\"){msg.payload = 0}\nif (obtaindata == \"0\"){msg.payload = 1}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1120,"y":400,"wires":[["e3814f8e.5f5ab","b9f33930.ec1af8"]]},{"id":"e3814f8e.5f5ab","type":"debug","z":"e7848e5f.93c7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":400,"wires":[]},{"id":"b9f33930.ec1af8","type":"change","z":"e7848e5f.93c7a","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"switch","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":340,"wires":[[]]},{"id":"61eaefe5.bf3a6","type":"inject","z":"e7848e5f.93c7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":480,"wires":[["f76b35a8.17c518"]]},{"id":"f76b35a8.17c518","type":"function","z":"e7848e5f.93c7a","name":"check variable value for debug","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1030,"y":480,"wires":[["e3814f8e.5f5ab"]]},{"id":"dcb2e14c.41a3f","type":"function","z":"e7848e5f.93c7a","name":"read globl variable","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["ec44784.04b2f88"]]},{"id":"dd41c6a9.1fcf18","type":"function","z":"e7848e5f.93c7a","name":"puerta abierta","func":"var temp = global.get(\"date3\");\nmsg.payload = \"Puerta abierta >> \" + temp + '<br>';\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[[]]},{"id":"be0a6612.5174b8","type":"ui_group","z":"","name":"test","tab":"94cc73dd.717f1","order":3,"disp":true,"width":"7","collapse":true},{"id":"94cc73dd.717f1","type":"ui_tab","z":"","name":"test","icon":"fa-television","order":2}]