nodered_lab/weather_dashboard.json
[{"id":"1f7edf66.71ae01","type":"inject","z":"4cbe848.a57c67c","name":"","topic":"Hello world!","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":170,"y":260,"wires":[["fe3c8115.2fc67"]]},{"id":"cc4fab5d.afe1b8","type":"debug","z":"4cbe848.a57c67c","name":"","active":true,"console":"false","complete":"true","x":590,"y":420,"wires":[]},{"id":"fe3c8115.2fc67","type":"function","z":"4cbe848.a57c67c","name":"temperature data","func":"var max = 22;\nvar min = 20;\nvar newValue = Math.random() * (max - min) + min;\nvar hValue = Math.random() * (100 - 0) + 0;\nvar myDate = new Date();\nvar t = myDate.getFullYear()+\"-\"+(myDate.getMonth()+1)+\"-\"+\n  myDate.getDate()+\"-\"+myDate.getHours() + \":\" + \n  myDate.getMinutes() + \":\" + myDate.getSeconds();\nmsg.payload ={\nweather: {\n    timestamp: t,\n    Temp: newValue.toFixed(2),\n    Humi: hValue.toFixed(2)\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":340,"wires":[["6ea6e93c.7dd848","d273ed95.ecd35","83ce9828.e2a108"]]},{"id":"10e07c2d.ddc5b4","type":"file","z":"4cbe848.a57c67c","name":"","filename":"/tmp/fake.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":590,"y":480,"wires":[]},{"id":"6ea6e93c.7dd848","type":"function","z":"4cbe848.a57c67c","name":"conver json to string","func":"var myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\nmsg.payload = user.timestamp+\",\"+user.Temp+\",\"+user.Humi;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":420,"wires":[["2bd3fabf.1fdc56"]]},{"id":"b1ad019e.fc9ad","type":"ui_template","z":"4cbe848.a57c67c","group":"3de98663.f9436a","name":"weatherStation","order":0,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>時間</span>\n  <span flex>溫度</span>\n  <span flex>濕度</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" >\n  <span flex style=\"color: green\">{{msg.payload.weather.t}}</span>\n  <span flex style=\"color: red\">{{msg.payload.weather.T}}</span>\n  <span flex style=\"color: black\">{{msg.payload.weather.H}}%</span>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":320,"wires":[["cc4fab5d.afe1b8"]]},{"id":"2bd3fabf.1fdc56","type":"ui_template","z":"4cbe848.a57c67c","group":"d1ce7d2f.123f","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>時間</span>\n  <span flex>溫度</span>\n  <span flex>濕度</span>\n</div>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":540,"wires":[[]]},{"id":"d273ed95.ecd35","type":"function","z":"4cbe848.a57c67c","name":"weather","func":"\nvar myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\nvar msg = {};\nvar msg1 = {};\n\nmsg.payload = user.Temp;\nmsg.topic = \"Temperature\";\n\nmsg1.payload = user.Humi;\nmsg1.topic = \"Humidilty\";\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":315,"y":572.6000061035156,"wires":[["f738e32b.f5e36"],["d49316e2.2cda68"]]},{"id":"f738e32b.f5e36","type":"ui_chart","z":"4cbe848.a57c67c","name":"","group":"3de98663.f9436a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":549,"y":597.6499938964844,"wires":[[],[]]},{"id":"d49316e2.2cda68","type":"ui_gauge","z":"4cbe848.a57c67c","name":"","group":"d1ce7d2f.123f","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"%","format":"{{msg1.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":565,"y":664.6499938964844,"wires":[]},{"id":"83ce9828.e2a108","type":"function","z":"4cbe848.a57c67c","name":"weather-json","func":"var myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\n\nmsg.payload = {\n    weather: {\n        T: user.Temp,\n        H: user.Humi,\n        t: user.timestamp\n    }\n}\nreturn msg;","outputs":"1","noerr":0,"x":409,"y":331.59999084472656,"wires":[["b1ad019e.fc9ad"]]},{"id":"3de98663.f9436a","type":"ui_group","z":"","name":"Weather","tab":"ebd7076c.f17968","disp":true,"width":"12"},{"id":"d1ce7d2f.123f","type":"ui_group","name":"Group 2","tab":"ebd7076c.f17968","order":2,"disp":true,"width":6},{"id":"ebd7076c.f17968","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2}]