hello.json
[{"id":"393078bc.32bbe8","type":"inject","z":"c16ad47.6ad8e28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":200,"wires":[["c070f2df.43dc6"]]},{"id":"c070f2df.43dc6","type":"function","z":"c16ad47.6ad8e28","name":"Format Timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["2d9263ac.a16aec"]]},{"id":"2d9263ac.a16aec","type":"debug","z":"c16ad47.6ad8e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":220,"wires":[]}]