lab2.json
[{"id":"a28744e8.62c9e8","type":"inject","z":"b80bc4f2.303a48","name":"get_QUAKES","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["87b4a581.094328"]]},{"id":"87b4a581.094328","type":"http request","z":"b80bc4f2.303a48","name":"Get Resent Quakes","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":430,"y":200,"wires":[["f314bb3.33de848"]]},{"id":"f314bb3.33de848","type":"csv","z":"b80bc4f2.303a48","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":580,"y":240,"wires":[["990569cd.5c5458","e118a0fa.c0a44"]]},{"id":"990569cd.5c5458","type":"switch","z":"b80bc4f2.303a48","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":300,"wires":[["4cfdc58a.e26c9c"]]},{"id":"4cfdc58a.e26c9c","type":"change","z":"b80bc4f2.303a48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":340,"wires":[["cbeb7538.fb9798"]]},{"id":"e118a0fa.c0a44","type":"debug","z":"b80bc4f2.303a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":240,"wires":[]},{"id":"cbeb7538.fb9798","type":"debug","z":"b80bc4f2.303a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1060,"y":360,"wires":[]}]