dashboard/dashboard_chart.json
[{"id":"7a8d6e1c.5b4dd","type":"inject","z":"eeb795de.572198","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":140,"wires":[["ad30c424.429918"]]},{"id":"ad30c424.429918","type":"function","z":"eeb795de.572198","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["776642c4.586b2c","1dc0c25d.466cae"]]},{"id":"776642c4.586b2c","type":"debug","z":"eeb795de.572198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":160,"wires":[]},{"id":"1dc0c25d.466cae","type":"ui_chart","z":"eeb795de.572198","name":"","group":"a85c9d4c.146d4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":280,"wires":[[],[]]},{"id":"a85c9d4c.146d4","type":"ui_group","z":"","name":"My first dashboard","tab":"52b5e4db.8c03bc","disp":true,"width":"6","collapse":false},{"id":"52b5e4db.8c03bc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]