dashboard/dashboard_chart_gauge.json
[{"id":"89ff0425.74d928","type":"inject","z":"350d05cc.dd9aea","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["e9770add.2725d8"]]},{"id":"e9770add.2725d8","type":"function","z":"350d05cc.dd9aea","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["34b81c55.5675a4","83696c45.9f0de","48dda6ed.406f08"]]},{"id":"34b81c55.5675a4","type":"debug","z":"350d05cc.dd9aea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":180,"wires":[]},{"id":"83696c45.9f0de","type":"ui_chart","z":"350d05cc.dd9aea","name":"","group":"a85c9d4c.146d4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":300,"wires":[[],[]]},{"id":"48dda6ed.406f08","type":"ui_gauge","z":"350d05cc.dd9aea","name":"","group":"a85c9d4c.146d4","order":0,"width":0,"height":0,"gtype":"gage","title":"Units","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":240,"wires":[]},{"id":"a85c9d4c.146d4","type":"ui_group","z":"","name":"My first dashboard","tab":"52b5e4db.8c03bc","disp":true,"width":"6","collapse":false},{"id":"52b5e4db.8c03bc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]