csu1081/dash-chart.json
[{"id":"8f54106f.fa45b","type":"inject","z":"a30c57f7.c45978","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":216.16665649414062,"y":158.88888549804688,"wires":[["242e8362.a7ee6c"]]},{"id":"242e8362.a7ee6c","type":"function","z":"a30c57f7.c45978","name":"random number","func":"msg.payload=Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":449.16668701171875,"y":170,"wires":[["ae6cb280.dc0b5","ff33bd1e.8366"]]},{"id":"ae6cb280.dc0b5","type":"debug","z":"a30c57f7.c45978","name":"Random number debug","active":true,"console":"false","complete":"payload","x":730,"y":180,"wires":[]},{"id":"ff33bd1e.8366","type":"ui_chart","z":"a30c57f7.c45978","name":"","group":"1d53f156.cf0e8f","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":240,"wires":[[],[]]},{"id":"1d53f156.cf0e8f","type":"ui_group","z":"","name":"Learn","tab":"ffbfd905.799478","disp":true,"width":"8"},{"id":"ffbfd905.799478","type":"ui_tab","z":"","name":"Chart","icon":"dashboard"}]