csu1081/mqtt_gen.json
[{"id":"49433008.679d4","type":"inject","z":"a165db8c.a94508","name":"Message","topic":"hello","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":271.1666564941406,"y":155.88888549804688,"wires":[["b9a2f5bd.a15cd8"]]},{"id":"bd0e45bc.2ebdb8","type":"mqtt in","z":"a165db8c.a94508","name":"Receive Message","topic":"hello","qos":"2","broker":"30387a4c.687626","x":290,"y":260,"wires":[["29e1ef33.89bae"]]},{"id":"b9a2f5bd.a15cd8","type":"mqtt out","z":"a165db8c.a94508","name":"Message","topic":"","qos":"2","retain":"","broker":"30387a4c.687626","x":740,"y":160,"wires":[]},{"id":"29e1ef33.89bae","type":"debug","z":"a165db8c.a94508","name":"","active":true,"console":"false","complete":"true","x":720.1666870117188,"y":251.77777099609375,"wires":[]},{"id":"30387a4c.687626","type":"mqtt-broker","z":"","broker":"gpssensor.ddns.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]