csu1081/thingSpeak.json
[{"id":"68864960.001048","type":"inject","z":"32c3669c.182c8a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":320,"y":140,"wires":[["601ea339.706a9c","502ef65.6243408"]]},{"id":"8f07bb16.86ebe8","type":"thingspeak42","z":"32c3669c.182c8a","name":"IAQ","delay":"15","topic1":"/esp/T","topic2":"/esp/H","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":850,"y":140,"wires":[]},{"id":"601ea339.706a9c","type":"function","z":"32c3669c.182c8a","name":"Generate temperature","func":"function getRandom(min,max){\n    return Math.floor(Math.random()*max)+min;\n}\n\nvar temp = getRandom(16,31);\nvar MsgA =  {Temp: temp};\nMsgA.payload = MsgA.Temp;\nMsgA.topic = \"/esp/T\";\n\nreturn MsgA;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["8f07bb16.86ebe8","aabd26b3.ae2588"]]},{"id":"aabd26b3.ae2588","type":"debug","z":"32c3669c.182c8a","name":"","active":true,"console":"false","complete":"false","x":849.1666870117188,"y":81.33332824707031,"wires":[]},{"id":"502ef65.6243408","type":"function","z":"32c3669c.182c8a","name":"Generate Humidity","func":"function getRandom(min,max){\n    return Math.floor(Math.random()*max)+min;\n}\n\nvar humi = getRandom(45,86);\nvar MsgA =  {Humidity: humi};\nMsgA.payload = MsgA.Humidity;\nMsgA.topic = \"/esp/H\";\n\nreturn MsgA;","outputs":1,"noerr":0,"x":545.1666870117188,"y":204.22222900390625,"wires":[["8f07bb16.86ebe8","aabd26b3.ae2588"]]}]