nodered_lab/LASS/get_dweet_store.json
[{"id":"791692d9.fed79c","type":"http request","z":"f4a5c796.4f1098","name":"","method":"GET","ret":"txt","url":"https://dweet.io:443/get/latest/dweet/for/csu_iotcvlab","tls":"","x":350,"y":60,"wires":[["6cc13c87.016b24"]]},{"id":"a73ba106.048f3","type":"inject","z":"f4a5c796.4f1098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["791692d9.fed79c"]]},{"id":"f72c3247.85f2d","type":"debug","z":"f4a5c796.4f1098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":80,"wires":[]},{"id":"6cc13c87.016b24","type":"function","z":"f4a5c796.4f1098","name":"parse_http_request","func":"var results = JSON.parse(msg.payload)['with'];\nvar newmsg= [];\nnewmsg = {\n    payload: results\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["f72c3247.85f2d"]]}]