nodered_lab/LASS/lass_all.json
[{"id":"4b925d04.375d14","type":"debug","z":"a4d7a916.93f748","name":"","active":true,"console":"true","complete":"payload","x":960,"y":180,"wires":[]},{"id":"ff02e2b5.f415c","type":"inject","z":"a4d7a916.93f748","name":"","topic":"/csu/iot999/lass","payload":"|T=26.5|H=85|","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":401.21163177490234,"y":200.71350574493408,"wires":[["a08ddb68.e5a9b8","5f8ef428.ea325c","7d8cc1a1.b5691"]]},{"id":"59316aad.857644","type":"thingspeak42","z":"a4d7a916.93f748","name":"IOTlab","delay":"15","topic1":"/csu/iot999/T","topic2":"/csu/iot999/H","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":990,"y":340,"wires":[]},{"id":"a08ddb68.e5a9b8","type":"function","z":"a4d7a916.93f748","name":"Temperature","func":"var MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};  //\nMsgA.payload = MsgA.Temp;\nMsgA.topic = \"/csu/iot999/T\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":675.3149108886719,"y":278.5099563598633,"wires":[["4b925d04.375d14","59316aad.857644","cf94d744.385a08","6f7530a9.f83e"]]},{"id":"5f8ef428.ea325c","type":"function","z":"a4d7a916.93f748","name":"Humidity","func":"var MsgA =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};  //\nMsgA.payload = MsgA.Humi;\nMsgA.topic = \"/csu/iot999/H\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":662.6723937988281,"y":375.5624542236328,"wires":[["59316aad.857644","4b925d04.375d14","a8b3377a.662398","6f7530a9.f83e"]]},{"id":"cf94d744.385a08","type":"ui_gauge","z":"a4d7a916.93f748","name":"溫度","group":"515e96cc.2f9978","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"度","format":"{{value}}","min":"15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":440,"wires":[]},{"id":"a8b3377a.662398","type":"ui_gauge","z":"a4d7a916.93f748","name":"濕度","group":"515e96cc.2f9978","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":520,"wires":[]},{"id":"8c9a735d.df2d7","type":"mqtt in","z":"a4d7a916.93f748","name":"LASS","topic":"/csu/iot999/lass","qos":"2","broker":"15cc1e4.f8c64e2","x":340,"y":320,"wires":[["a08ddb68.e5a9b8","5f8ef428.ea325c"]]},{"id":"6f7530a9.f83e","type":"freeboard","z":"a4d7a916.93f748","name":"LASS","x":1010,"y":600,"wires":[]},{"id":"d2a93960.df9768","type":"inject","z":"a4d7a916.93f748","name":"mqtt humlidity","topic":"/csu/iot999/H","payload":"60","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":440,"wires":[["6f7530a9.f83e","4597bbbe.da0b04"]]},{"id":"2cb71d.0724b8e4","type":"inject","z":"a4d7a916.93f748","name":"mqtt publisher","topic":"/csu/iot999/T","payload":"27.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":540,"wires":[["6f7530a9.f83e","6ed94930.ee1138"]]},{"id":"a82c19e3.e75d88","type":"mqtt in","z":"a4d7a916.93f748","name":"mqtt T","topic":"/csu/iot999/T","qos":"2","broker":"15cc1e4.f8c64e2","x":360,"y":620,"wires":[["cf94d744.385a08","6f7530a9.f83e","59316aad.857644"]]},{"id":"5132aaf7.8deab4","type":"mqtt in","z":"a4d7a916.93f748","name":"mqtt H","topic":"/csu/iot999/H","qos":"2","broker":"15cc1e4.f8c64e2","x":340,"y":700,"wires":[["59316aad.857644","6f7530a9.f83e","a8b3377a.662398"]]},{"id":"6ed94930.ee1138","type":"mqtt out","z":"a4d7a916.93f748","name":"溫度","topic":"/csu/iot999/T","qos":"2","retain":"","broker":"15cc1e4.f8c64e2","x":1140,"y":460,"wires":[]},{"id":"4597bbbe.da0b04","type":"mqtt out","z":"a4d7a916.93f748","name":"濕度","topic":"/csu/iot999/H","qos":"2","retain":"","broker":"15cc1e4.f8c64e2","x":1030,"y":680,"wires":[]},{"id":"515e96cc.2f9978","type":"ui_group","z":"","name":"Default","tab":"e1a2f7d3.8623d8","disp":true,"width":"8","collapse":false},{"id":"15cc1e4.f8c64e2","type":"mqtt-broker","z":"","name":"eclipse","broker":"iot.eclipse.org","port":"1883","tls":"","clientid":"jumbokh","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e1a2f7d3.8623d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]