nodered_lab/LASS/LASS_esp8266_to_freeboard.json
[{"id":"e51254ac.bb0ad8","type":"debug","z":"16a7a2d1.99c0ed","name":"","active":true,"console":"true","complete":"true","x":750,"y":180,"wires":[]},{"id":"6deb588b.f5b7c8","type":"inject","z":"16a7a2d1.99c0ed","name":"","topic":"/esp8266/lass","payload":"|T=28|H=70|PM25=60|","payloadType":"str","repeat":"","crontab":"","once":false,"x":228.58127975463867,"y":121.11172199249268,"wires":[["daef0545.ff8bb8","fa29a0fe.9a8a9"]]},{"id":"4a36ad80.ddc7b4","type":"mqtt in","z":"16a7a2d1.99c0ed","name":"","topic":"/esp8266/lass","qos":"2","broker":"b0221dd0.2263c","x":114.97952651977539,"y":214.0181589126587,"wires":[["daef0545.ff8bb8","fa29a0fe.9a8a9"]]},{"id":"a7364998.edda58","type":"freeboard","z":"16a7a2d1.99c0ed","name":"CSU_IOT1061","x":820.9384422302246,"y":273.6386613845825,"wires":[]},{"id":"6353dc08.ca1ef4","type":"json","z":"16a7a2d1.99c0ed","name":"","x":589.3514595031738,"y":235.7827672958374,"wires":[["e51254ac.bb0ad8","a7364998.edda58"]]},{"id":"daef0545.ff8bb8","type":"function","z":"16a7a2d1.99c0ed","name":"Function to Freeboard","func":"//PM2.5 definition  http://taqm.epa.gov.tw/taqm/tw/fpmi-2.aspx ==>   0 > 36 > 54   \n//Humidity: 40-70 is comfortable, or too dry or humid\n//Temperature: Too Cold,  20-27 Comfortable, Too Hot\n// If Temp/humidity sensor is not well installed, Humidity will be higher than 55. So it would appear error. \n\nvar MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};  //\nvar MsgB =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};  //\nvar MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(5,6).toString()};  //\n\n\nvar MsgPM = MsgC.PM25;\n\n\tif (MsgPM >=54) {\t\t\t\n\tPM25M = 2;\n\t}else\n\tif (MsgPM >=36) {\n\tPM25M = 1;\n\t}else\n\tif (MsgPM >=0){\n\tPM25M = 0;\n\t}else {\n\tPM25M = -1;\n\t}\n\n\nvar MsgTemp = MsgA.Temp;\n\nif (MsgTemp >=27) {\t\t\t\n\tTempM = 2;\n\t}else\n\tif (MsgTemp >=20) {\n\tTempM = 1;\n\t} else {\n\tTempM = 0;\n\t}\n\n\t\nvar MsgHumid = MsgB.Humi;\n\nif (MsgHumid >=70) {\t\t\t\n\tHumidM = 2;\n\t}else\n\tif (MsgHumid >=40) {\n\tHumidM = 1;\n\t} else {\n\tHumidM = 0;\n\t}\t\n\t\n\nvar PM25MT = PM25M;  \n    \n    if (PM25MT == -1){\n    PM25Merror = \"沒有偵測到訊號\";\n    } \n    else{\n    PM25Merror = \"訊號正常\";\n    }\n\n\n\n//var HumT = MsgB.Humi;  \n    \n//    if (HumT == 60.80){\n//    TemHumError = \"可能沒有偵測到訊號\";\n//    } \n//    else{\n//    TemHumError = \"訊號正常\";\n//    }\n\n\n\t\n\t\n\nmsg.payload = JSON.stringify({\n \nTemp : MsgA.Temp,\nHumi: MsgB.Humi,\nPM25: MsgC.PM25,\nPM25M: PM25M,\nPM25Merror: PM25Merror,\nTempM: TempM,\nHumidM: HumidM,\n//TemHumError: TemHumError,\n\n\n });\n \n\nreturn msg;","outputs":1,"noerr":0,"x":401.76877212524414,"y":229.9440279006958,"wires":[["6353dc08.ca1ef4"]]},{"id":"fa29a0fe.9a8a9","type":"function","z":"16a7a2d1.99c0ed","name":"PM2.5 Warning to Slack","func":"var MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(29,30).toString()};  //\nMsgC.payload = MsgC.PM25;\nMsgC.topic = \"LASS/PM25\";\n\nreturn MsgC;\n","outputs":1,"noerr":0,"x":325.42406845092773,"y":383.67081928253174,"wires":[["a867d4f8.0710e8","e51254ac.bb0ad8"]]},{"id":"9253450.fc405b8","type":"template","z":"16a7a2d1.99c0ed","name":"High","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PM2.5: {{payload}},Bad: 空氣品質不好, 請注意","x":587.6298789978027,"y":435.856556892395,"wires":[["259a58ac.134458"]]},{"id":"a867d4f8.0710e8","type":"switch","z":"16a7a2d1.99c0ed","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"36","vt":"num","v2":"53","v2t":"num"},{"t":"gt","v":"53","vt":"num"}],"checkall":"true","outputs":2,"x":429.46711349487305,"y":471.39409351348877,"wires":[["9253450.fc405b8"],["ed9dd8dd.63a7a8"]]},{"id":"ed9dd8dd.63a7a8","type":"template","z":"16a7a2d1.99c0ed","name":"Dangerous","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PM2.5 Index: {{payload}},Danger: 空氣品質很糟糕, 請小心","x":588.6670951843262,"y":517.4316530227661,"wires":[["259a58ac.134458"]]},{"id":"6ab163a8.47917c","type":"slack","z":"16a7a2d1.99c0ed","name":"","channelURL":"https://hooks.slack.com/services/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","username":"Name1","emojiIcon":"","channel":"","x":938.2010345458984,"y":472.4547452926636,"wires":[]},{"id":"259a58ac.134458","type":"delay","z":"16a7a2d1.99c0ed","name":"2 Hours update","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":775.1545829772949,"y":471.93159580230713,"wires":[["6ab163a8.47917c"]]},{"id":"b0221dd0.2263c","type":"mqtt-broker","z":"","broker":"192.168.43.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]