nodered_lab/LASS/LASS_mqtt_freeboard.json
[{"id":"7e397d78.737b04","type":"debug","z":"9c8fcef6.bbd49","name":"","active":true,"console":"true","complete":"true","x":710,"y":140,"wires":[]},{"id":"7eadf98f.779a68","type":"inject","z":"9c8fcef6.bbd49","name":"","topic":"/esp8266/lass","payload":"|T=28|H=70|PM25=60|","payloadType":"str","repeat":"","crontab":"","once":false,"x":188.58127975463867,"y":81.11172199249268,"wires":[["b24be098.7c6d6","4a5e4e49.990f1"]]},{"id":"74394974.de09e8","type":"mqtt in","z":"9c8fcef6.bbd49","name":"","topic":"/esp8266/lass","qos":"2","broker":"5a47682e.a025d8","x":74.97952651977539,"y":174.0181589126587,"wires":[["b24be098.7c6d6","4a5e4e49.990f1"]]},{"id":"60edb6b9.789c68","type":"freeboard","z":"9c8fcef6.bbd49","name":"CSU_IOT1061","x":780.9384422302246,"y":233.63866138458252,"wires":[]},{"id":"1f169e1c.70f942","type":"json","z":"9c8fcef6.bbd49","name":"","x":549.3514595031738,"y":195.7827672958374,"wires":[["7e397d78.737b04","60edb6b9.789c68"]]},{"id":"b24be098.7c6d6","type":"function","z":"9c8fcef6.bbd49","name":"Function to Freeboard","func":"//PM2.5 definition  http://taqm.epa.gov.tw/taqm/tw/fpmi-2.aspx ==>   0 > 36 > 54   \n//Humidity: 40-70 is comfortable, or too dry or humid\n//Temperature: Too Cold,  20-27 Comfortable, Too Hot\n// If Temp/humidity sensor is not well installed, Humidity will be higher than 55. So it would appear error. \n\nvar MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(1,2).toString()};  //\nvar MsgB =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(3,4).toString()};  //\nvar MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(5,6).toString()};  //\n\n\nvar MsgPM = MsgC.PM25;\n\n\tif (MsgPM >=54) {\t\t\t\n\tPM25M = 2;\n\t}else\n\tif (MsgPM >=36) {\n\tPM25M = 1;\n\t}else\n\tif (MsgPM >=0){\n\tPM25M = 0;\n\t}else {\n\tPM25M = -1;\n\t}\n\n\nvar MsgTemp = MsgA.Temp;\n\nif (MsgTemp >=27) {\t\t\t\n\tTempM = 2;\n\t}else\n\tif (MsgTemp >=20) {\n\tTempM = 1;\n\t} else {\n\tTempM = 0;\n\t}\n\n\t\nvar MsgHumid = MsgB.Humi;\n\nif (MsgHumid >=70) {\t\t\t\n\tHumidM = 2;\n\t}else\n\tif (MsgHumid >=40) {\n\tHumidM = 1;\n\t} else {\n\tHumidM = 0;\n\t}\t\n\t\n\nvar PM25MT = PM25M;  \n    \n    if (PM25MT == -1){\n    PM25Merror = \"沒有偵測到訊號\";\n    } \n    else{\n    PM25Merror = \"訊號正常\";\n    }\n\n\n\n//var HumT = MsgB.Humi;  \n    \n//    if (HumT == 60.80){\n//    TemHumError = \"可能沒有偵測到訊號\";\n//    } \n//    else{\n//    TemHumError = \"訊號正常\";\n//    }\n\n\n\t\n\t\n\nmsg.payload = JSON.stringify({\n \nTemp : MsgA.Temp,\nHumi: MsgB.Humi,\nPM25: MsgC.PM25,\nPM25M: PM25M,\nPM25Merror: PM25Merror,\nTempM: TempM,\nHumidM: HumidM,\n//TemHumError: TemHumError,\n\n\n });\n \n\nreturn msg;","outputs":1,"noerr":0,"x":361.76877212524414,"y":189.9440279006958,"wires":[["1f169e1c.70f942"]]},{"id":"4a5e4e49.990f1","type":"function","z":"9c8fcef6.bbd49","name":"PM2.5 Warning to Slack","func":"var MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(29,30).toString()};  //\nMsgC.payload = MsgC.PM25;\nMsgC.topic = \"LASS/PM25\";\n\nreturn MsgC;\n","outputs":1,"noerr":0,"x":285.42406845092773,"y":343.67081928253174,"wires":[["4b20a53c.65a22c","7e397d78.737b04"]]},{"id":"f7811640.7d3f48","type":"template","z":"9c8fcef6.bbd49","name":"High","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PM2.5: {{payload}},Bad: 空氣品質不好, 請注意","x":547.6298789978027,"y":395.856556892395,"wires":[["ae6f110e.ab9eb"]]},{"id":"4b20a53c.65a22c","type":"switch","z":"9c8fcef6.bbd49","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"36","vt":"num","v2":"53","v2t":"num"},{"t":"gt","v":"53","vt":"num"}],"checkall":"true","outputs":2,"x":389.46711349487305,"y":431.39409351348877,"wires":[["f7811640.7d3f48"],["ef4bcdc7.54abe"]]},{"id":"ef4bcdc7.54abe","type":"template","z":"9c8fcef6.bbd49","name":"Dangerous","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PM2.5 Index: {{payload}},Danger: 空氣品質很糟糕, 請小心","x":548.6670951843262,"y":477.4316530227661,"wires":[["ae6f110e.ab9eb"]]},{"id":"171738de.c4b007","type":"slack","z":"9c8fcef6.bbd49","name":"","channelURL":"https://hooks.slack.com/services/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","username":"Name1","emojiIcon":"","channel":"","x":898.2010345458984,"y":432.4547452926636,"wires":[]},{"id":"ae6f110e.ab9eb","type":"delay","z":"9c8fcef6.bbd49","name":"2 Hours update","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":735.1545829772949,"y":431.93159580230713,"wires":[["171738de.c4b007"]]},{"id":"5a47682e.a025d8","type":"mqtt-broker","z":"","broker":"192.168.43.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]