nodered_lab/LASS/thingspeak_test.json
[{"id":"ce1b65ba.20b3e8","type":"inject","z":"2b96e5f3.10ccda","name":"Fake lass data","topic":"","payload":"|FAKE=1|device_id=jumbokh|date=2017-12-1|time=03:43:56|device=Nodemcu|s_d0=60.00|s_t0=23.40|s_h0=80.20|s_d1=0.00","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":"","x":200,"y":260,"wires":[["27bc2cc4.887534","7c5bef2c.7d492","226f18f3.ef7ec8"]]},{"id":"27bc2cc4.887534","type":"function","z":"2b96e5f3.10ccda","name":"Temperature","func":"var MsgA =  {Temp: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(13,14).toString()};  //\nMsgA.payload = MsgA.Temp;\nMsgA.topic = \"LASS/Temp\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":437.1000061035156,"y":261,"wires":[["c9c0ed30.1eaad","add49a.16f0db68"]]},{"id":"7c5bef2c.7d492","type":"function","z":"2b96e5f3.10ccda","name":"Humidity","func":"var MsgA =  {Humi: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(15,16).toString()};  //\nMsgA.payload = MsgA.Humi;\nMsgA.topic = \"LASS/Humi\";\n\nreturn MsgA;\n","outputs":1,"noerr":0,"x":431.1000061035156,"y":327,"wires":[["c9c0ed30.1eaad","add49a.16f0db68"]]},{"id":"226f18f3.ef7ec8","type":"function","z":"2b96e5f3.10ccda","name":"PM2.5","func":"var MsgC =  {PM25: msg.payload.substring(1).replace(/=/gi,\"|\").split(\"|\").slice(11,12).toString()};  //\nMsgC.payload = MsgC.PM25;\nMsgC.topic = \"LASS/PM25\";\n\nreturn MsgC;","outputs":1,"noerr":0,"x":427.1000061035156,"y":397,"wires":[["c9c0ed30.1eaad","add49a.16f0db68"]]},{"id":"c9c0ed30.1eaad","type":"debug","z":"2b96e5f3.10ccda","name":"","active":true,"console":"false","complete":"payload","x":738.1000366210938,"y":260,"wires":[]},{"id":"85e6d0dd.0cbaf","type":"mqtt in","z":"2b96e5f3.10ccda","name":"","topic":"/qos0","qos":"2","broker":"887f72c9.409f9","x":200.10000610351562,"y":386,"wires":[["27bc2cc4.887534","7c5bef2c.7d492","226f18f3.ef7ec8"]]},{"id":"add49a.16f0db68","type":"thingspeak42","z":"2b96e5f3.10ccda","name":"IOTlab","delay":"15","topic1":"LASS/Temp","topic2":"LASS/Humi","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":701.1000366210938,"y":365,"wires":[]},{"id":"887f72c9.409f9","type":"mqtt-broker","z":"","broker":"192.168.8.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]