nodered_lab/db/iot_final.json
[{"id":"91f273e8.3d4a4","type":"inject","z":"1124d24c.640e0e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":100,"wires":[["d304fb2.3ff7308"]]},{"id":"4464c54e.0b2d4c","type":"debug","z":"1124d24c.640e0e","name":"","active":true,"console":"false","complete":"true","x":630,"y":260,"wires":[]},{"id":"d304fb2.3ff7308","type":"function","z":"1124d24c.640e0e","name":"temperature data","func":"var max = 22;\nvar min = 20;\nvar newValue = Math.random() * (max - min) + min;\nvar hValue = Math.random() * (100 - 0) + 0;\nvar myDate = new Date();\nvar t = myDate.getFullYear()+\"-\"+(myDate.getMonth()+1)+\"-\"+\n  myDate.getDate()+\"-\"+myDate.getHours() + \":\" + \n  myDate.getMinutes() + \":\" + myDate.getSeconds();\nvar date = myDate.getFullYear()+\"-\"+(myDate.getMonth()+1)+\"-\"+\n           myDate.getDate();\nvar time = myDate.getHours() + \":\" + myDate.getMinutes() + \n           \":\" + myDate.getSeconds();\n \nmsg.payload ={\nweather: {\n    timestamp: t,\n    Temp: newValue.toFixed(2),\n    Humi: hValue.toFixed(2),\n\tdate: date,\n\ttime: time\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["167f0e8a.4581c1","cf35a534.ede868","250960dd.5b87c","5799bd0b.5e92d4"]]},{"id":"5fe1682e.0bab88","type":"file","z":"1124d24c.640e0e","name":"","filename":"/tmp/fake.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":630,"y":320,"wires":[[]]},{"id":"167f0e8a.4581c1","type":"function","z":"1124d24c.640e0e","name":"conver json to string","func":"var myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\nmsg.payload = user.timestamp+\",\"+user.Temp+\",\"+user.Humi;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["1b30fe87.0d1301","5fe1682e.0bab88"]]},{"id":"4e5bfe10.3d1cc","type":"ui_template","z":"1124d24c.640e0e","group":"66c228d1.455918","name":"weatherStation","order":0,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>時間</span>\n  <span flex>溫度</span>\n  <span flex>濕度</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" >\n  <span flex style=\"color: green\">{{msg.payload.weather.t}}</span>\n  <span flex style=\"color: red\">{{msg.payload.weather.T}}</span>\n  <span flex style=\"color: black\">{{msg.payload.weather.H}}%</span>\n  </div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":160,"wires":[["4464c54e.0b2d4c"]]},{"id":"1b30fe87.0d1301","type":"ui_template","z":"1124d24c.640e0e","group":"c391b9a.c67f248","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>時間</span>\n  <span flex>溫度</span>\n  <span flex>濕度</span>\n</div>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":620,"y":380,"wires":[[]]},{"id":"cf35a534.ede868","type":"function","z":"1124d24c.640e0e","name":"weather","func":"\nvar myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\nvar msg = {};\nvar msg1 = {};\n\nmsg.payload = user.Temp;\nmsg.topic = \"Temperature\";\n\nmsg1.payload = user.Humi;\nmsg1.topic = \"Humidilty\";\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":355,"y":412.6000061035156,"wires":[["b91088da.726228"],["f2598509.06ce28"]]},{"id":"b91088da.726228","type":"ui_chart","z":"1124d24c.640e0e","name":"","group":"66c228d1.455918","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":589,"y":437.6499938964844,"wires":[[],[]]},{"id":"f2598509.06ce28","type":"ui_gauge","z":"1124d24c.640e0e","name":"","group":"c391b9a.c67f248","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":605,"y":504.6499938964844,"wires":[]},{"id":"250960dd.5b87c","type":"function","z":"1124d24c.640e0e","name":"weather-json","func":"var myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\n\nmsg.payload = {\n    weather: {\n        T: user.Temp,\n        H: user.Humi,\n        t: user.timestamp\n    }\n}\nreturn msg;","outputs":"1","noerr":0,"x":449,"y":171.59999084472656,"wires":[["4e5bfe10.3d1cc"]]},{"id":"be2a91bd.6e1cb","type":"sqlite","z":"1124d24c.640e0e","mydb":"18ded341.a3ce8d","sqlquery":"msg.topic","sql":"","name":"data","x":450,"y":520,"wires":[["6c2be674.3679e8"]]},{"id":"6c2be674.3679e8","type":"debug","z":"1124d24c.640e0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":560,"wires":[]},{"id":"5799bd0b.5e92d4","type":"function","z":"1124d24c.640e0e","name":"Insert data","func":"var myJSON = JSON.stringify(msg.payload.weather);\nlet user = JSON.parse(myJSON);\n\nvar sql = \"INSERT INTO dhtreadings(temperature, humidity, currentdate, currenttime, device)\" +\n\"values(\" + user.Temp + \",\" + user.Humi + \",\\\"\" + user.date + \"\\\",\\\"\" + user.time + \"\\\",\" +\n\"\\\"manual\\\")\";\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":540,"wires":[["be2a91bd.6e1cb","e7e89272.cafa6"]]},{"id":"e7e89272.cafa6","type":"debug","z":"1124d24c.640e0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":520,"y":640,"wires":[]},{"id":"66c228d1.455918","type":"ui_group","z":"","name":"Weather","tab":"f76a393b.2b13d8","disp":true,"width":"12"},{"id":"c391b9a.c67f248","type":"ui_group","name":"Group 2","tab":"f76a393b.2b13d8","order":2,"disp":true,"width":6},{"id":"18ded341.a3ce8d","type":"sqlitedb","z":"","db":"/temp/data.db","mode":"RWC"},{"id":"f76a393b.2b13d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2}]