dashboard/start_lab/dash-chart-gauge.json
[{"id":"15dfe8bf.0672f7","type":"inject","z":"b412490e.4b1ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":330,"y":180,"wires":[["2c1c7b8e.d479d4"]]},{"id":"2c1c7b8e.d479d4","type":"function","z":"b412490e.4b1ea8","name":"random number","func":"msg.payload=Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":563.0000305175781,"y":191.11111450195312,"wires":[["182b5444.b98bdc","c8affbf9.68ec58","63b49159.5cf13"]]},{"id":"182b5444.b98bdc","type":"debug","z":"b412490e.4b1ea8","name":"Random number debug","active":true,"console":"false","complete":"payload","x":843.8333435058594,"y":201.11111450195312,"wires":[]},{"id":"c8affbf9.68ec58","type":"ui_chart","z":"b412490e.4b1ea8","name":"","group":"1d53f156.cf0e8f","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":260,"wires":[[],[]]},{"id":"63b49159.5cf13","type":"ui_gauge","z":"b412490e.4b1ea8","name":"Gauge","group":"1d53f156.cf0e8f","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":300,"wires":[]},{"id":"1d53f156.cf0e8f","type":"ui_group","z":"","name":"Learn","tab":"ffbfd905.799478","disp":true,"width":"8"},{"id":"ffbfd905.799478","type":"ui_tab","z":"","name":"Chart","icon":"dashboard"}]