dashboard/start_lab/dashboard11_11.json
[{"id":"513f16d0.4a76f8","type":"inject","z":"c53c5456.d75fd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["44781153.108cc"]]},{"id":"44781153.108cc","type":"function","z":"c53c5456.d75fd8","name":"random number","func":"msg.payload=Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["cde09db1.81409","a5434e5a.11c93","23a7fc96.e48e04"]]},{"id":"cde09db1.81409","type":"ui_chart","z":"c53c5456.d75fd8","name":"","group":"6a178647.cea468","order":4,"width":"6","height":"3","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":200,"wires":[[]]},{"id":"a5434e5a.11c93","type":"debug","z":"c53c5456.d75fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]},{"id":"23a7fc96.e48e04","type":"ui_gauge","z":"c53c5456.d75fd8","name":"","group":"6a178647.cea468","order":5,"width":"6","height":"3","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":260,"wires":[]},{"id":"9be7d1bd.e3679","type":"ui_button","z":"c53c5456.d75fd8","name":"","group":"57552840.fef998","order":1,"width":"3","height":"3","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ON","payloadType":"str","topic":"","x":190,"y":400,"wires":[["adad892b.250c88"]]},{"id":"a32319d4.caffb8","type":"ui_button","z":"c53c5456.d75fd8","name":"","group":"57552840.fef998","order":2,"width":"3","height":"3","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"","x":190,"y":480,"wires":[["adad892b.250c88"]]},{"id":"adad892b.250c88","type":"ui_text","z":"c53c5456.d75fd8","group":"57552840.fef998","order":3,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":440,"wires":[]},{"id":"3641ce72.6871f2","type":"ui_switch","z":"c53c5456.d75fd8","name":"","label":"ON/OFF","tooltip":"","group":"57552840.fef998","order":3,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":180,"y":340,"wires":[["adad892b.250c88"]]},{"id":"afa692d8.a590b","type":"ui_slider","z":"c53c5456.d75fd8","name":"","label":"slider","tooltip":"","group":"c5a8c8f2.e15ac8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"1","step":"0.1","x":550,"y":400,"wires":[["e069889c.8ef4a8"]]},{"id":"e069889c.8ef4a8","type":"ui_gauge","z":"c53c5456.d75fd8","name":"","group":"c5a8c8f2.e15ac8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":420,"wires":[]},{"id":"6a178647.cea468","type":"ui_group","z":"","name":"default","tab":"a724e45f.b109e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"57552840.fef998","type":"ui_group","z":"","name":"ON/OFF","tab":"56faa9b5.6004e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5a8c8f2.e15ac8","type":"ui_group","z":"","name":"Default","tab":"4ecd4014.f04d9","order":1,"disp":true,"width":"6","collapse":false},{"id":"a724e45f.b109e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"56faa9b5.6004e8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"4ecd4014.f04d9","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3}]