ESP8266/led_onoff/led_onoff.json
[{"id":"b534ca63.56a008","type":"ui_slider","z":"efcf6383.4f28e","name":"","label":"slider","group":"1d53f156.cf0e8f","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":1,"x":169.10000610351562,"y":180.40000915527344,"wires":[["c1e04365.13898"]]},{"id":"c1e04365.13898","type":"function","z":"efcf6383.4f28e","name":"cvt","func":"function roundFix(number, precision)\n{\n    var multi = Math.pow(10, precision);\n    return Math.round( (number * multi).toFixed(precision + 1) ) / multi;\n}\n\nvar msg1 = {};\nvar msg2 = {};\nvar ref = 3.3;\nvar vtg = msg.payload / 255.0 * ref;\nmsg1 = {\n    payload: msg.payload,\n    url: \"http://192.168.43.88/gpio/2\"+msg.payload\n};\nmsg2 = {\n    payload: roundFix(vtg,4)\n};\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":410,"y":160,"wires":[["fe73fae.74e5508","83c4f6d.c09cd08"],["8a111dd1.ff7fe"]]},{"id":"83c4f6d.c09cd08","type":"http request","z":"efcf6383.4f28e","name":"","method":"GET","ret":"txt","url":"","tls":"","x":650,"y":160,"wires":[[]]},{"id":"fe73fae.74e5508","type":"debug","z":"efcf6383.4f28e","name":"","active":true,"console":"false","complete":"false","x":650,"y":120,"wires":[]},{"id":"8a111dd1.ff7fe","type":"ui_text","z":"efcf6383.4f28e","group":"1d53f156.cf0e8f","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":240,"wires":[]},{"id":"4dc74444.02e72c","type":"ui_button","z":"efcf6383.4f28e","name":"","group":"1d53f156.cf0e8f","order":0,"width":"3","height":"2","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":149.10000610351562,"y":245.20001220703125,"wires":[["c9e67cdb.f3f9e"]]},{"id":"c9e67cdb.f3f9e","type":"function","z":"efcf6383.4f28e","name":"Turn On LED","func":"var msg1 = {};\n\nmsg1 = {\n    payload: msg.payload,\n    url: \"http://192.168.43.88/gpio/1\"\n};\n\nreturn msg1;","outputs":1,"noerr":0,"x":398.1000061035156,"y":252.20001220703125,"wires":[["83c4f6d.c09cd08"]]},{"id":"6aad2292.20632c","type":"ui_button","z":"efcf6383.4f28e","name":"","group":"1d53f156.cf0e8f","order":0,"width":"3","height":"2","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":320,"wires":[["d1aa2eca.132a7"]]},{"id":"d1aa2eca.132a7","type":"function","z":"efcf6383.4f28e","name":"Turn OOFF LED","func":"var msg1 = {};\n\nmsg1 = {\n    payload: msg.payload,\n    url: \"http://192.168.43.88/gpio/0\"\n};\n\nreturn msg1;","outputs":1,"noerr":0,"x":409,"y":327,"wires":[["83c4f6d.c09cd08"]]},{"id":"1d53f156.cf0e8f","type":"ui_group","z":"","name":"Voltage","tab":"ffbfd905.799478","disp":true,"width":"8"},{"id":"ffbfd905.799478","type":"ui_tab","z":"","name":"cmd","icon":"dashboard"}]