ESP8266/server_test_onoff/led_onoff.json
[{"id":"9989bbed.63dfe8","type":"http request","z":"8a7b218c.0f21f","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":200,"wires":[[]]},{"id":"8b068053.e5578","type":"debug","z":"8a7b218c.0f21f","name":"","active":true,"console":"false","complete":"payload","x":550,"y":120,"wires":[]},{"id":"e1b78c19.9c388","type":"ui_text","z":"8a7b218c.0f21f","group":"1d53f156.cf0e8f","order":0,"width":"4","height":"2","name":"","label":"text","format":"{{msg.payload}}","layout":"row-center","x":510,"y":260,"wires":[]},{"id":"d0a660b6.e18c2","type":"ui_switch","z":"8a7b218c.0f21f","name":"led on/off","label":"switch","group":"1d53f156.cf0e8f","order":0,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"/on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"/off","offvalueType":"str","officon":"","offcolor":"","x":140,"y":140,"wires":[["11b4e8db.d89127"]]},{"id":"11b4e8db.d89127","type":"function","z":"8a7b218c.0f21f","name":"set url","func":"var newmsg;\nvar msg1;\nvar url;\n\nurl = \"http://192.168.43.88\";\n\nif(msg.payload == \"/on\")\n  msg1 = \"LED ON\";\nelse\n  msg1 = \"LED OFF\";\nnewmsg = {\n    payload: msg1,\n    url: url+msg.payload\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["9989bbed.63dfe8","8b068053.e5578","e1b78c19.9c388"]]},{"id":"1d53f156.cf0e8f","type":"ui_group","z":"","name":"Voltage","tab":"ffbfd905.799478","disp":true,"width":"8"},{"id":"ffbfd905.799478","type":"ui_tab","z":"","name":"cmd","icon":"dashboard"}]